{{#power-select-multiple
  selected=selectedAttr
  onchange=(action "selected")
  class=className
  placeholder=placeholder
  tagName="div"
  search=(perform searchRepo)
  searchField=displayName
  disabled=disabled
  onblur=(action "focusedOut")
  as |optionModel|
}}
  {{#if componentArg}}
    {{component componentArg item=optionModel}}
  {{else}}
    {{get optionModel displayName}}
  {{/if}}
{{/power-select-multiple}}

{{!-- this has to be below the power select --}}
{{#if showMessage}}
  {{#if (v-get model multiAttr "message")}}
    {{#tether-dialog
      container-class="tether-dialog-reset"
      target=(concat "." className)
      hasOverlay=false
      attachment="bottom left"
      targetAttachment="top left"
      offset="5px 0"
    }}
    <div class="validated-input-error-dialog animated flipInX error">
     {{t (v-get model multiAttr "message")}}
   </div>
    {{/tether-dialog}}
  {{/if}}
{{/if}}
