<div class="input-group">
  <span class="input-group-addon address-label">{{t "admin.automation.priorities"}}</span>
    {{power-select-foreign-key
      model=model
      selected=model.priority
      change_method="change_priority"
      relatedModelName="ticket-priority"
      componentArg="tickets/ticket-priority-tag"
    }}
</div>
