{{input
  type=type
  placeholder=placeholder
  value=value
  class=(concat "form-control " className)
  id=idz
  focus-out=(action "focusedOut")
  key-up=(action "keyedUp")
}}
{{#if showMessage}}
  {{#if (v-get model valuePath "message")}}
    {{#tether-dialog
      constraints=(array (hash to="scrollParent" pin=true attachment="together"))
      container-class="tether-dialog-reset"
      target=(concat "#" idz)
      hasOverlay=false
      attachment="bottom left"
      targetAttachment="top left"
    }}
      <div class="validated-input-error-dialog animated flipInX error">
        {{t (v-get model valuePath "message")}}
      </div>
    {{/tether-dialog}}
  {{/if}}
{{/if}}
