<ul class="nav-items t-navbar-items">
  <li class="nav-brand">{{#link-to "dashboard" class="t-nav-dashboard"}}<span></span>{{/link-to}}</li>
  {{#if (has-permission permissions=permissions resource="ticket" verb="view")}}
    <li>{{#link-to "main.tickets" class="t-nav-tickets"}}{{t 'modules.tickets.titleShort'}}{{/link-to}}</li>
  {{/if}}  
  <li>{{#link-to "invoices"}}{{t 'modules.invoices.titleShort'}}{{/link-to}}</li>
</ul>
{{user-menu}}
