<ul class="nav-items t-navbar-items">
  <li class="nav-brand">{{#link-to "dashboard" class="t-nav-dashboard"}}BigSky{{/link-to}}</li>
  <li>{{#link-to "tickets.index" class="t-nav-tickets"}}{{t 'modules.tickets.titleShort'}}{{/link-to}}</li>
  <li>{{#link-to "work-orders"}}{{t 'modules.workOrders.titleShort'}}{{/link-to}}</li>
  <li>{{#link-to "invoices"}}{{t 'modules.invoices.titleShort'}}{{/link-to}}</li>
</ul>
{{user-menu}}
