<h2 class="t-dtd-grid-title col-md-12">
  <span class="t-grid-title">{{grid_title}}</span>
  {{#if (filters-applied sort find search)}}
  <span class="t-reset-grid reset-grid" {{action "resetGrid"}}>{{t 'grid.reset_all_options'}}</span>
  {{/if}}
  {{#unless model.isLoaded}}
  {{grid-loading-graphic}}
  {{/unless}}
</h2>

