{{#grid-view2 as |t|}}

<div class="rowTable">
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{t.head
          add_model_text=add_model_text
          hasActiveFilterSet=hasActiveFilterSet
          count=count
          add_model_url=add_model_url
          savingFilter=savingFilter
          exportGrid=exportGrid
        }}
      </div>
    </div>
  </header>
  {{t.savingFilter
    savingFilter=savingFilter
    toggleFilter=toggleFilter
    save_filterset=attrs.save_filterset
    filterModel=filterModel
    filterField=filterField
    filterPlaceholder=filterPlaceholder
    find=find
  }}
  {{t.body
    columns=columns
    model=model
    error=error
    page=page
    sort=sort
    search=search
    find=find
    isLoading=isLoading
    requested=requested
    page_size=page_size
    filtersets=filtersets
    routeName=routeName
    defaultSort=defaultSort
    noun=noun
    plural=plural
    prefix=prefix
    grid_title=grid_title
    list_url=list_url
    detail_url=detail_url
    search_placeholder=search_placeholder
    savingFilter=savingFilter
    toggleFilter=toggleFilter
    filterField=filterField
    filterPlaceholder=filterPlaceholder
  }}
  {{t.footer
    model=model
    plural=plural
    list_url=list_url
    page=page
    page_size=page_size
  }}
</div>

{{/grid-view2}}
