{{#grid-view2 as |t|}}
  <header class="mobile-grid-head t-grid-mobile-header">
    {{t.head
      columns=columns
      sort=sort
      find=find
      model=model
      hasActiveFilterSet=hasActiveFilterSet
      grid_title=grid_title
      filtersets=filtersets
      routeName=routeName
      search_placeholder=search_placeholder
    }}
  </header>
  <div class="mobile-grid-body">
    {{t.body
      columns=columns
      model=model
      requested=requested
      detail_url=detail_url
      noun=noun
    }}
    {{t.footer
      model=model
      list_url=list_url
      page=page
    }}
  </div>
{{/grid-view2}}
