{{#grid-view2 as |t|}}
  <header class="mobile-grid-head t-grid-mobile-header">
    {{t.head
      columns=columns
      page=page
      sort=sort
      search=search
      find=find
      id_in=id_in
      noun=noun
      model=model
      hasActiveFilterSet=hasActiveFilterSet
      grid_title=grid_title
      filtersets=filtersets
      routeName=routeName
      search_placeholder=search_placeholder
      repository=repository
      detail_url=detail_url
      searchResultConfig=searchResultConfig
      save_filterset=attrs.save_filterset
      gridFilterParams=gridFilterParams
      gridIdInParams=gridIdInParams
      updateGridFilterParams=updateGridFilterParams
    }}
  </header>
  <div class="mobile-grid-body">
    {{t.body
      columns=columns
      model=model
      requested=requested
      detail_url=detail_url
      noun=noun
    }}
  </div>
{{/grid-view2}}

{{infinity-component 
  noun=noun 
  page=page 
  reachedInfinity=reachedInfinity 
  model=model 
  infinityIsLoading=infinityIsLoading
}}
