{{#grid-view2 as |t|}}
  <header class="mobile-grid-head">
    {{t.head
      columns=columns
      sort=sort
      find=find
      model=model
      add_model_text=add_model_text
      hasActiveFilterSet=hasActiveFilterSet
      count=count
      add_model_url=add_model_url
      savingFilter=savingFilter
      grid_title=grid_title
      filtersets=filtersets
      routeName=routeName
    }}
  </header>
  <div class="mobile-grid-body">
    {{t.body
      columns=columns
      filter=filter
      model=model
      page=page
      sort=sort
      search=search
      find=find
      requested=requested
      page_size=page_size
      routeName=routeName
      defaultSort=defaultSort
      list_url=list_url
      detail_url=detail_url
    }}
  </div>
{{/grid-view2}}
