{{#grid-view2 as |t|}}
  <header class="mobile-grid-head">
    {{t.head
      columns=columns
      sort=sort
      find=find
      model=model
      hasActiveFilterSet=hasActiveFilterSet
      grid_title=grid_title
      filtersets=filtersets
      routeName=routeName
    }}
  </header>
  <div class="mobile-grid-body">
    {{t.body
      columns=columns
      model=model
      requested=requested
      detail_url=detail_url
    }}
  </div>
{{/grid-view2}}
