<nav class="tabs">
  <ul id="tabs" class="list-inline">
    <li class="active">
      <span>Tab One</span>
      <span>{{fa-icon "times-circle" classNames="close-icon"}}</span>
    </li>
    <li>
      <span>Tab Two</span>
      <span>{{fa-icon "times-circle" classNames="close-icon"}}</span>
    </li>
    <li class="new">
      <span>{{fa-icon "plus"}}</span>
    </li>
  </ul>
</nav>
