<span id={{if count (concat valuePath count) valuePath}}></span>
{{#power-select
  selected=selectedAttr
  class=className
  tagName="div"
  search=(perform searchRepo)
  onchange=(action "selected")
  triggerClass=(if showMessage "invalid")
  as |optionModel|
}}
  {{get optionModel displayName}}
{{/power-select}}

{{#if showMessage}}
  {{#tether-dialog
    constraints=(array (hash to="scrollParent" pin=true attachment="together"))
    container-class="tether-dialog-reset"
    target=(concat "#" (if count (concat valuePath count) valuePath))
    hasOverlay=false
    attachment="bottom left"
    targetAttachment="top left"
  }}
  <div class="validated-input-error-dialog animated flipInX error {{concat "t-validation-" valuePath}}">
    {{t (v-get model valuePath "message")}}
  </div>
  {{/tether-dialog}}
{{/if}}
