<span id={{if count (concat valuePath count) valuePath}}></span>
{{#power-select-mobile
  selected=selectedAttr
  class=className
  tagName="div"
  allowClear=allowClear
  search=(perform searchRepo)
  onchange=(action "selected")
  triggerClass=(if showMessage "invalid")
  placeholder=(or placeholder (t "power.select.select"))
  disabled=disabled
  as |optionModel|
}}
{{#if componentArg}}
  {{component componentArg item=optionModel}}
{{else}}
  {{get optionModel displayName}}
{{/if}}
{{/power-select-mobile}}
