<span id={{if count (concat valuePath count) valuePath}}></span>
{{#power-select
  selected=selectedAttr
  class=className
  tagName="div"
  allowClear=allowClear
  search=(perform searchRepo)
  onchange=(action "selected")
  triggerClass=(if showMessage "invalid")
  as |optionModel|
}}
  {{get optionModel displayName}}
{{/power-select}}

{{show-validation-message 
  model=model 
  valuePath=valuePath
  showMessage=showMessage
}}
