<div class="row">
  <div class="col-md-12">
    {{#form-group title="admin.category.label.children" for="category"}}
    {{db-fetch-multi-select 
      model=model 
      multiAttr="children" 
      multiAttrIds="children_ids" 
      selectedAttr=model.children 
      className="t-category-children-select" 
      displayName="name" 
      add_func="add_children" 
      remove_func="remove_children" 
      repository=repository 
      searchMethod="findCategoryChildren"
    }}
    {{/form-group}}
  </div>
</div>
