<div class="row">
  <div class="col-md-12">
    <section>
      <div class="row">
        <div class="col-md-12">
          {{#form-group title="admin.category.label.parent"}}
            {{db-fetch-select
              model=model
              selectedAttr=model.parent
              allowClear=true
              className="t-parent-select"
              displayName="verbose_name"
              change_func="change_parent"
              allowClear=true
              repository=repository
              searchMethod="findCategory"
              valuePath="name"
            }}
          {{/form-group}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#unless model.inherited.sc_category.value}}
            <p class="inherited-msg t-inherited-msg-sc_category_name">
              {{#link-to "admin.categories.category" model.inherited.sc_category.inherits_from_id class="t-inherited-msg-sc_category_name-link"}}
              {{t "crud.inherited_from" from=model.inherited.sc_category.inherits_from}}
              {{/link-to}}
            </p>
          {{/unless}}
          {{#form-group title="admin.category.label.sc_category_name"}}
            {{db-fetch-select
              model=model
              selectedAttr=model.sccategory
              placeholder=(t "crud.default_value" value=model.inherited.sc_category.inherited_value)
              allowClear=true
              className="t-sc-category-name-select"
              displayName="name"
              change_func="change_sccategory"
              repository=repository
              searchMethod="findScCategory"
              valuePath="name"
            }}
          {{/form-group}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#form-group title="admin.category.label.children" for="category"}}
          {{db-fetch-multi-select
            model=model
            multiAttr="children"
            multiAttrIds="children_ids"
            selectedAttr=model.children
            className="t-category-children-select"
            displayName="verbose_name"
            add_func="add_children"
            remove_func="remove_children"
            repository=repository
            searchMethod="findCategoryBySearch"
          }}
          {{/form-group}}
        </div>
      </div>
    </section>
  </div>
</div>
