/*
* Absolute positioning to set at top of section.wrap
* keeps scrollbar within article.main and keep nav/side-bar/admin-panel fixed to screen
* .bs-desktop class is a wrapper for the desktop view and ensures absolute positioning on article.main
*/
.bs-desktop {
  article.main {
    position: absolute;
    left: $documentLeft;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    //if no admin side panel
    &.full{
      left: 0;
    }
    header,
    footer{
      height: $documentHeaderHeight;
      line-height: $documentHeaderHeight;
      background: $lightGray;
      padding: 0 4px;
      border: $borderStyle;
      border-width: 0 0 1px 0;
      position: relative;
      h1{
        vertical-align: baseline;
        font-size: 1.6em;
        font-weight: normal;
        display: inline-block;
        margin: 0;
        height: $documentHeaderHeight;
        line-height: $documentHeaderHeight;
      }//h1
      .reset-grid{
        display: inline-block;
        height: $documentHeaderHeight;
        line-height: $documentHeaderHeight;
        vertical-align: baseline;
        font-size: 0.9em;
        text-decoration: underline;
        cursor: pointer;
        margin: 0 0 0 10px;
        color: $darkGray;
      }
      .btn-group{
        z-index: 2;
        margin: 5px 0 0;
        .btn{
          height: 30px;
          min-height: 30px;
          line-height: 18px;
        }
      }
    }//header

    section.docSection {
      position: absolute;
      top: $documentHeaderHeight;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      overflow: auto;
      padding: 0 0 32px;
      &.docSectionWithFooter{
        margin-bottom: $documentFooterHeight;
      }
      .row {
        margin: 0;
        .row{
          margin: 4px 0;
        }
      }
    }//docSection
    footer{
      height: $documentFooterHeight;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      border: $borderStyle;
      border-width: 1px 0 0;
    }
  }//article.main
}
