<div class="col-md-12">
  <section class="card-title">
    <div class="row">
      <h2 class="col-md-12">{{t "admin.location.label.contact"}}</h2>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        {{#form-group title="admin.location.label.phone_number.other" optional="true"}}
          {{input-multi-phone
            placeholder=(t "admin.location.label.phone_number.one")
            numbers=model.phonenumbers
            model=model
            didValidate=didValidate
          }}
        {{/form-group}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{#form-group title="admin.location.label.email.other" optional="true"}}
          {{input-multi-email
            placeholder=(t "admin.location.label.email.one")
            emails=model.emails
            model=model
            didValidate=didValidate
          }}
        {{/form-group}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{#form-group title="admin.location.label.address.other" optional="true"}}
          {{input-multi-address
            placeholder=(t "admin.location.label.address.one")
            addresses=model.addresses
            model=model
            didValidate=didValidate
          }}
        {{/form-group}}
      </div>
    </div>
  </section>
</div>
