& {
    font-family: 'open_sansregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: $darkGray;
    line-height: 3rem;
    background: transparent;
    margin: 0;
    padding: 0;

    position: fixed;
    width: 0%;
    height: 0%;
    z-index: -1;

  &.active {
    background: $darkGray;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
