{{base-component
  model=model
  save="save"
  cancel="cancel"
  delete=delete
}}
<section class="docSection container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section class="card-title">
        <div class="row">
          <h1 class="col-md-12">
            <span>{{t model.key}}</span>
            <br>
            <small class="t-translation-key">{{model.key}}</small>
          </h1>
        </div>
      </section>
    </div>
    {{translations/detail-section
      model=model
    }}
  </div>
</section>
