{{#each addresses as |address index|}}
  {{input-single-address
    model=model
    address=address
    index=index
    placeholder=placeholder
    didValidate=didValidate
    stateDbFetch=stateDbFetch
    countryDbFetch=countryDbFetch
  }}
{{/each}}
<button class="t-add-address-btn btn-add btn btn-default btn-sm" type="button" {{action 'append'}}><span class="btn-label">{{fa-icon "plus"}} {{t "admin.address.add"}}</span></button>
