<div class="row">
  <div class="col-md-12">
    <section>
      <div class="row">
        <div class="col-md-12">
          {{#form-group title="admin.category.label.cost_amount" for="cost_amount"}}
          {{#unless model.inherited.cost_amount.value}}
          <p class="inherited-msg t-inherited-msg-cost_amount">
            {{#link-to "admin.categories.category" model.inherited.cost_amount.inherits_from_id class="t-inherited-msg-cost_amount-link"}}
            {{t "crud.inherited_from" from=model.inherited.cost_amount.inherits_from}}
            {{/link-to}}
          </p>
          {{/unless}}
          {{input-currency
            model=model
            field="cost_amount"
            currencyField="cost_currency"
            placeholder=(t "crud.default_value" value=model.inherited.cost_amount.inherited_value)
          }}
          {{/form-group}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#form-group title="admin.category.label.cost_code" for="category_cost_code"}}
          {{#unless model.inherited.cost_code.value}}
          <p class="inherited-msg t-inherited-msg-cost_code">
            {{#link-to "admin.categories.category" model.inherited.cost_code.inherits_from_id class="t-inherited-msg-cost_code-link"}}
            {{t "crud.inherited_from" from=model.inherited.cost_code.inherits_from}}
            {{/link-to}}
          </p>
          {{/unless}}
          {{input type="text"
            placeholder=(t "crud.default_value" value=model.inherited.cost_code.inherited_value)
            value=model.cost_code
            class="form-control t-category-cost-code"
            id="category_cost_code"
          }}
          {{/form-group}}
        </div>
      </div>
    </section>
  </div>
</div>
