<div class="row">
  <div class="col-md-12">
    {{#form-group title="assignment.description" for="description"}}
    {{validated-input
      model=model
      valuePath="description"
      didValidate=didValidate
      className="form-control t-assignment-description"
      placeholder=(t "admin.assignment.description")
    }}
    {{/form-group}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{#form-group title="assignment.assignee" for="assignee"}}
    {{db-fetch-select
      model=model
      selectedAttr=model.assignee
      className="t-assignment-assignee-select"
      displayName="username"
      change_func="change_assignee"
      repository=personRepo
      searchMethod="findPeople"
      valuePath="assignee"
    }}
    {{/form-group}}
  </div>
</div>
