<div class="row">
  <div class="col-md-12">
    <h1 data-test-id="work-order-create-success">{{t "work_order.label.success"}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#form-group title="work_order.label.tracking_number" readonly=true}}
      <div data-test-id="tracking_number">{{model.tracking_number}}</div>
    {{/form-group}}
  </div>
</div>
