*.py[co]
*.swp
*.db
*.pid
.idea
.DS_Store
.coverage
/dist/assets/
htmlcov/
/__pycache__
*.ipynb*
dump.rdb
**/environ/init.sls
*id_rsa*
so_*
db.sqlite3
*.log

# See http://help.github.com/ignore-files/ for more about ignoring files. 

# compiled output
dist/
tmp/

# dependencies
node_modules/
bower_components/

# misc
.sass-cache/
connect.lock/
coverage/

.ctags
_*.rst
*-out.csv

# virtualenv
venv/

# attachments
**/attachments/images/