*.py[co]
*.swp
*.db
*.pid
.idea
.DS_Store
.coverage
/dist/assets/
htmlcov/
/__pycache__
*.ipynb*
config.rst
dump.rdb
**/environ/init.sls
*id_rsa*
so_*
db.sqlite3
*.log

# See http://help.github.com/ignore-files/ for more about ignoring files. 

# compiled output
dist/
tmp/

# dependencies
node_modules/
bower_components/

# misc
.sass-cache/
connect.lock/
coverage/

# ci script
bsrs-django/venv/
bsrs-django/bigsky/templates/index.html

.ctags
_todo.rst
