*.py[co]
*.swp
*.db
*.pid
.idea
.DS_Store
.coverage
/dist/assets/
/target
htmlcov/
/__pycache__
*.ipynb*
dump.rdb
**/environ/init.sls
*id_rsa*
so_*
db.sqlite3

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/
npm-debug.log
bsrs-django/bigsky/templates/index.html
bsrs-django/bigsky/ember/assets/*
!bsrs-django/bigsky/ember/assets/.gitkeep
bsrs-django/bigsky/ember/css/*
!bsrs-django/bigsky/ember/css/.gitkeep
bsrs-django/bigsky/ember/fonts/*
!bsrs-django/bigsky/ember/fonts/.gitkeep

# dependencies
node_modules/
bower_components/

# misc
.sass-cache/
connect.lock/
coverage/
.ctags

# personal doc files
_*.rst
_*.md

# virtualenv
venv/

# translation output-files
*-out.csv
