* 01 * * * sudo rm -rf /tmp/* 1> /dev/null 2> /home/bsdev/cron.err

* 8 * * * . $HOME/.bashrc; bash /var/www/deploy/bsrs/scripts/update_translations.sh deploy
30 8 * * * . $HOME/.bashrc; bash /var/www/persistent/bsrs/scripts/update_translations.sh persistent
