<div id={{concat "category-validation" index}} class="input-group">
  <span class="input-group-addon t-model-category-label">{{label}}</span>
  {{#power-select
    selected=categories_selected
    options=options
    class=(concat "category-select input-group-select t-model-category-select " invalid)
    tagName="div"
    onchange=(action "selected")
    onopen=(action "handleOpen" category.id)
    onblur=(action "blurOut")
    searchEnabled=false
    allowClear=allowClear
    as |category|
  }}
    {{category.name}}
  {{/power-select}}
</div>


{{#if showMessage}}
  {{#tether-dialog
    constraints=(array (hash to="scrollParent" pin=true attachment="together"))
    container-class="tether-dialog-reset"
    target=(concat "#category-validation" index)
    hasOverlay=false
    attachment="bottom left"
    targetAttachment="top left"
  }}
    <div class="validated-input-error-dialog animated flipInX error t-validation-ticket-category">
      {{t (concat "errors.ticket.category" label)}}
    </div>
  {{/tether-dialog}}
{{/if}}
