div.rowTable {
  section.docSection{
    h1, h2{
      .reset-grid{
        font-size: 1.1rem;
        font-weight: normal;
        text-decoration: underline;
        cursor: pointer;
        color: $darkGray;
        margin-left: 10px;
      }
    }
    table.table-hover {
      tr:hover td{
        cursor: pointer;
      }
    }//table
    .table-responsive{
      border: none !important;
    }
    table{
      &.table{
        table-layout: fixed;
      }
      th{
        span{
          display: inline-block;
          height: 18px;
          line-height: 18px;
          vertical-align: bottom;
          &.title{
            float: left;
            max-width: 80%;
            margin-right: 5%;
            @include truncate;
          }
        }
        .fa-sort,
        .fa-filter{
          color: $gray;
        }
        .fa-filter.on,
        .fa-sort-asc,
        .fa-sort-desc{
          color: $lightGreen;
        }
        .fa-sort,
        .fa-filter,
        .fa-sort-asc,
        .fa-sort-desc{
          cursor: pointer;
        }
      }
      //table column widths
      td {
        border: none;
      }
      td, th{
        font-size: 1.2rem;
        vertical-align: middle;
        padding: 10px 0;
        .tag{
          width: 110px;
          @include truncate;
        }
        .photo-avatar {
          display: table-row;
          .avatar,
          .username {
            display: table-cell;
            vertical-align: middle;
          }
        }
        &.ticket-priority{
          width: 120px;
        }
        &.ticket-status{
          width: 120px;
          .tag{
            max-width: 110px;
            @include truncate;
          }
        }
        &.ticket-number{
          width: 80px;
        }
        &.ticket-created{
          width: 180px;
          div{
            @include truncate;
          }
        }
        &.ticket-location{
          width: 180px;
        }
        &.ticket-assignee{
          width: 180px;
        }
        &.ticket-location{
          width: 180px;
          @include truncate;
        }
        &.ticket-category{
          width: 200px;
        }
        &.ticket-request{
          width: 200px;
          @include truncate;
        }
        &.dtd-key{
          width: 20%;
          @include truncate;
        }
        &.dtd-description{
          width: 80%;
          @include truncate;
        }
        &.selector{
          width: 28px;
          .dirty{
            font-size: 1.2rem;
            color: $lightGreen;
          }
        }
      }
    }
  }
}//div.rowTable

.tableSearch {
  position: absolute;
  right: 20px;
  border-radius: 15px;
}
.filtersets{
  // clear: both;
  ul,hbox {
    overflow: auto;
    margin: 0;
    padding: 0;
    li, div.filtersets__item {
      list-style: none;
      float: left;
      margin: 0 5px 5px 0;
      a{
        font-size: 1.1rem;
        border: $borderStyle;
        border-radius: $borderRadius;
        background: $light;
        padding: 3px 5px;
        display: block;
        color: $darkGray;
        text-decoration: none;
        &:hover{
          cursor: pointer;
          text-decoration: none;
          border-color: $hoverColor;
          background-color: $hoverColor;
          color: $white;
        }
        &.active{
          border-color: $activeColor;
          background-color: $activeColor;
          color: $white;
        }
        i{
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

/*
* Mobile
*/
header.mobile-grid-head {
  border: $borderStyle;
  border-width: 0 0 1px;
  z-index: 40;
  //TODO: Flex it
  h1.grid-title {
    @include pageTitle();
  }
  div.grid-options {
    padding: 0 15px;
    margin: 14px 0 0;
    button {
      color: $medGray;
      font-size: 2rem;
      border: none;
      background: none;
      margin: 0 0 0 5px;
    }
  }

  /* wraps filterset-navigation component */
  .filtersets { // mobile styles
    border-top: $borderStyle;
    background: $white;
    hbox {
      overflow: auto;
      flex-wrap: nowrap;
      /* div: achieve equal padding on l & r sides */
      div.filtersets__item {
        margin: 5px 0px 5px 5px;
        &:first-child {
          margin-left: 5px;
        }
        &:last-child {
          padding-right: 5px;
        }
        a {
          font-size: 1.4rem;
          height: 3rem;
          line-height: 2.8rem;
          padding: 0 .7em;
          i{
            line-height: inherit;
            float: right;
          }
          &:hover{
            cursor: default;;
            text-decoration: none;
            border-color: $borderColor;
            background-color: $light;
            color: inherit;
          }
        }//a
      }//div
    }//hbox
  } // filtersets
} // header.mobile-grid-head
