& {
  border: $borderStyle;
  border-radius: $borderRadius;
  background: $light;
  font-size: 1.4rem;
  line-height: 2.8rem;
  height: 3rem;
  padding: 0 .7em;
  margin: 0;
  .mobile-save-filterset__input {
    margin: 0 5px 0 0;
    min-width: 8em;
    border: none;
    background: none;
    padding: 0;
  }
}
