{{input value=filtersetName class="mobile-save-filterset__input t-mobile-save-filterset-component__input" placeholder=(t "grid.filterset_name")}}<span {{action "closeFiltersetInput"}}>{{fa-icon "close"}}</span>
