<form>
  {{input autoresize=true value=filtersetName class="mobile-save-filterset__input t-mobile-save-filterset-component__input" placeholder=(t "grid.filterset_name")}}<span {{action "closeFiltersetInput"}}><i class="fa fa-minus-circle t-remove-filterset" aria-hidden="true" {{action "resetGrid" filterset.id}}></i></span>
</form>
