{{card-title title="admin.location.label.parents-name"}}
{{#card-section}}
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.location.label.parents-name" for="location_parents" optional="true"}}
        {{db-fetch-multi-select
          model=model
          disabled=disabled
          multiAttr="parents"
          multiAttrIds="parents_ids"
          selectedAttr=model.parents
          className="t-location-parent-select"
          displayName="name"
          add_func="add_parent"
          remove_func="remove_parent"
          repository=repository
          searchMethod="findLocationParents"
          extra_params=extra_params
        }}
      {{/form-group}}
    </div>
  </div>
{{/card-section}}

{{card-title title="admin.location.label.children-name"}}
{{#card-section}}
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.location.label.children-name" for="location_children" optional="true"}}
        {{db-fetch-multi-select
          model=model
          disabled=disabled
          multiAttr="children"
          multiAttrIds="children_ids"
          selectedAttr=model.children
          className="t-location-children-select"
          displayName="name"
          add_func="add_child"
          remove_func="remove_children"
          repository=repository
          searchMethod="findLocationChildren"
          extra_params=extra_params
        }}
      {{/form-group}}
    </div>
  </div>
{{/card-section}}
