@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin input-group-dropdown($min-width: 6em) {
	min-width: $min-width;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-left: -1px;
	margin-right: -1px;
}
