{{#each model as |activity|}}
<div class="t-activity-list-item activity-list-item activity-{{activity.type}}">
    {{component (component-postfix activity.type) activity=activity i18nString=(activity-description activity timestamp=(moment-from-now activity.created) i18n=i18n) }}
</div>
{{/each}}
