input, textarea, select, button {
	outline: none;
	box-shadow: none !important;
  -webkit-appearance:none;
}
input[type="text"]:disabled {
	border: none;
	box-shadow: none;
	&:hover {
		border: none;
		box-shadow: none;
	}
}
input[readonly],
input[readonly].form-control,
textarea[readonly],
textarea[readonly].form-control {
	background-color: transparent;
}//input
