input, textarea, select, button {
	outline: none;
	box-shadow: none !important;
  -webkit-appearance:none;
}
.help-text,
.help-text--approval{
	font-size: 1.2rem;
	color: $medGray;
	i{
		font-size: 1.3rem;
	}
}
.help-text--approval{
	i{
		color: $lightGreen;
	}
}
