input, textarea, select, button {
	outline: none;
	box-shadow: none !important;
  -webkit-appearance:none;
}
input[type="text"]:disabled {
	border: none;
	box-shadow: none;
	&:hover {
		border: none;
		box-shadow: none;
	}
}
