<option value="" class="t-locale-option">-</option>
{{#each locales as |locale|}}
<option value={{locale.locale}} class="t-locale-option" selected={{is-equal current locale.locale}}>{{locale.name}} - {{locale.native_name}}</option>
{{/each}}
