{{#each numbers as |phonenumber index|}}
  {{input-single-phone 
    model=model
    phonenumber=phonenumber 
    index=index
    didValidate=didValidate
    placeholder=placeholder
  }}
{{/each}}
<button class="t-add-phone-number-btn btn-add btn btn-default btn-sm" type="button" {{action "append"}}>
  <span class="btn-label">{{fa-icon "plus"}} {{t "admin.phone.add"}}</span>
</button>
