& {
  .permission-row,
  .permission-row--header {
    display: flex;
    padding: 1rem;
  }
  .permission-row:nth-child(odd) {
    background: $lightGray;
  }
  .permission-row--header {
    border: $borderStyle;
    border-width: 0 0 1px;
  }
  .permission-cell,
  .permission-cell--checkbox {
    line-height: 2rem;
    height: 2rem;
    @extend %label;
    @include truncate;
  }
  .permission-cell--checkbox {
    width: 11%;
    text-align: center;
  }
}
