& {
  display: table-row;
  .avatar {
    display: table-cell;
    vertical-align: middle;
    width: $photoSmallSize;
    height: $photoSmallSize;
    border-radius: $photoBorderRadius;
    background-color: $gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .empty{
    &:before {
      @include font-awesome("\f007");
      font-size: 1.5rem;
      text-align: center;
      color: $medGray;
      width: $photoSmallSize;
      height: $photoSmallSize;
      line-height: $photoSmallSize;
      display: block;
    }
  }
  .username{
    vertical-align: middle;
    display: table-cell;
    padding-left: 6px;
  }
}
