& {
  border: $borderStyle;
  border-width: 0 0 1px;
  padding: 4%;
  font-size: 1.6rem;
  .mobile-search-result__title {
    font-weight: bold;
    font-family: $fontfamilybold;
  }
  .mobile-search-result__meta {
    font-size: 1.4rem;
  }
}
