{{#card-section}}
<div class="row">
  <div class="col-md-12">
    {{#form-group title="admin.locationlevel.label.name" for="name"}}
    {{validated-input
      model=model
      valuePath="name"
      className="t-location-level-name"
      placeholder=(t "admin.locationlevel.label.name")
      class="t-location-level-name-validator"
    }}
    {{/form-group}}
  </div>
</div>
{{/card-section}}
