<div class="input-group">
  <span class="input-group-addon t-model-category-label">{{if categories_selected.label categories_selected.label (t "admin.category.other")}}</span>
  {{#power-select
    selected=categories_selected
    options=options
    class=(concat "category-select input-group-select t-model-category-select " invalid)
    tagName="div"
    onchange=(action "selected")
    onopen=(action "handleOpen")
    searchEnabled=false
    allowClear=allowClear
    as |category|
  }}
    {{category.name}}
  {{/power-select}}
</div>
