<div id="category-validation" class="input-group {{if readonly 'readonly'}}">
  <span class="input-group-addon t-model-category-label">{{if categories_selected.label categories_selected.label (t "admin.category.other")}}</span>
  {{#power-select
    selected=categories_selected
    options=options
    class=(concat "category-select input-group-select t-model-category-select " invalid)
    tagName="div"
    disabled=disabled
    onchange=(action "selected")
    onopen=(action "handleOpen")
    searchEnabled=false
    allowClear=allowClear
    onblur=(action "blurOut")
    as |category|
  }}
    {{category.name}}
  {{/power-select}}
</div>

{{#if showMessage}}
  {{#tether-dialog
    constraints=(array (hash to="scrollParent" pin=true attachment="together"))
    container-class="tether-dialog-reset"
    target="#category-validation"
    hasOverlay=false
    attachment="bottom left"
    targetAttachment="top left"
  }}
    <div class="validated-input-error-dialog animated flipInX error t-validation-ticket-category-top">
      {{t "errors.ticket.category.top"}}
    </div>
  {{/tether-dialog}}
{{/if}}
