& {
  font-size: 1rem;

  .form-photo {
    float: left;
    margin: 0 1.5em 1.5em 0;
    height: 8em;
    width: 8em;
    line-height: 8em;
  }

  h1.title {
    font-size: 2.8em;
    padding: 0.4em 0 0.25em;
    margin: 0;
    @include truncate;
  }
  p.subtitle {
    font-size: 1.4em;
    color: $medGray;
    padding: 0;
  }

  &.medium {
    font-size: 0.8rem;
  }

}
