// .animation-wrapper

& {
  z-index: 3; // override header.container-fluid
  &.full-screen {
    @include fullScreen;
  }
  &.desktop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
  }
}
