<div class="input-group">
  <div class="input-group-addon t-currency-symbol">
    {{currency_symbol}}
  </div>
  {{input type="text" placeholder=(t "admin.amount") value=formatted_auth_amount class="form-control t-amount" id="amount" disabled=editPrivilege}}
  <div class="input-group-addon t-currency-code">
    {{currency_code}}
  </div>
</div>
