<div class="input-group">
  <div class="input-group-addon t-currency-symbol">
    {{currency_symbol}}
  </div>
  {{input type="text" placeholder=(t "admin.person.label.auth_amount") value=model.formatted_auth_amount class="form-control t-person-auth_amount" id="auth_amount" disabled=editPrivilege}}
  <div class="input-group-addon t-currency-code">
    {{currency_code}}
  </div>
</div>
