{{#if inheritsFrom}}
<span class="t-inherited-msg-auth_amount">
  {{#link-to "admin.roles.role" model.settings_object.auth_amount.inherits_from_id class="t-inherited-msg-auth_amount-link"}}
  {{t "crud.inherited_from" from=inheritsFrom}}
  {{/link-to}}
</span>
{{/if}}
<div class="input-group">
  <div class="input-group-addon t-currency-symbol">
    {{currencyObject.symbol}}
  </div>
  {{input type="text" placeholder=(if placeholder placeholder (t "admin.amount")) focus-out="format_currency" value=bound_field class="form-control t-amount" id="amount" disabled=editPrivilege}}
  <div class="input-group-addon currency-select t-currency-code">
    {{#power-select
      selected=currencyObject
      options=currencyObjects
      onchange=(action "selected")
      class="t-currency-code-select"
      searchEnabled=false
      as |op|
    }}
    {{op.code}}
    {{/power-select}}
  </div>
</div>
