<div style="clear:both;" class="input-group clearfix">
  <div class="input-group-addon t-currency-symbol">
    {{currencyObject.symbol}}
  </div>
  {{input
    type="text"
    placeholder=(if placeholder placeholder (t "admin.amount_and_default_value" value=placeholderAmount))
    value=(get model field)
    class=(concat "form-control t-amount " className (if showMessage " invalid"))
    id=(if (gt count -1) (concat valuePath count) valuePath)
    disabled=editPrivilege
    focus-out="formatCurrency"
    key-up=(action "keyedUp")
    readonly=readonly
  }}
  {{#power-select
    selected=currencyObject
    options=currencyObjects
    onchange=(action "selected")
    class="input-group-btn input-group-select t-currency-code-select"
    tagName="div"
    searchEnabled=false
    as |op|
  }}
    {{op.code}}
  {{/power-select}}
</div>

{{show-validation-message
  model=model
  valuePath=valuePath
  showMessage=showMessage
}}
