& {
  height: $mobileHeaderHeight;
  padding: 10px;
  margin: 0;
  background: $dark;
  @include nav-box-shadow;
  .input-group-addon {
    background: $darker;
    border: none;
    padding-right: 0;
    i {
      color: $medGray;
    }
  }
  input {
    @include mobileSearchInput;
  }
}
