<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bsrs-ember</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />
<meta name="bsrs-ember/config/environment" content="%7B%22modulePrefix%22%3A%22bsrs-ember%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22i18n%22%3A%7B%22defaultLocale%22%3A%22en%22%7D%2C%22APP%22%3A%7B%22name%22%3A%22bsrs-ember%22%2C%22version%22%3A%220.0.0.94bc5345%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link rel="stylesheet" href="assets/vendor-a2fd2ed071d75f655927dd1c0e15f636.css">
    <link rel="stylesheet" href="assets/bsrs-ember-a3a9c4b1e953de7b0afd046561f56263.css">

    
  <head>
  <body>

    
    <script src="assets/vendor-8d7c3fe395f2239de5a39b3264409d3b.js"></script>
    <script src="assets/bsrs-ember-4f68b848f75ef1a5d2ce3e303276b4e4.js"></script>

    
  </body>
</html>