/* DESKTOP */
textarea.ticket-request{
	font-size: 1.2rem;
	resize: none;
}

.request-wrap{
	margin: 0 0 15px;
	*{
		font-size: 1.2rem;
	}
}

.meta-data{
	line-height: 30px;
	margin: 0 0 8px;
}

.ticket-categories{
	*{
		font-size: 1.2rem;
	}
	.category{
		float: left;
    margin-right: -1px;
    min-width: 120px;
    display: block;
		.input-group-addon{
			float: left;
	    font-size: 1.2rem;
	    width: auto;
			height: 26px;
			line-height: 24px;
			padding-top: 0;
			padding-bottom: 0;
		}
		.category-select {
			float: left;
		    .ember-power-select-trigger{
					font-size: 1.2rem;
					min-height: 26px;
					min-width: 120px;
					height: 26px;
					line-height: 24px;
					border-radius: 0;
					width: 100%;
					position: relative;
				&:focus{
					z-index: 3;
				}
		  }
			.ember-power-select-dropdown{
				top: 26px;
			}
		  .ember-power-select-option,
			.ember-power-select-search input{
		        font-size: 1.2rem;
		    }
		}
	}
}

/* MOBILE */
&.mobile-meta-data {
	padding: 4%;
	background: $white;
  @include borderStyle(0 0 1px);
	@extend %flex-item--none;
	.mobile-meta-data__priority-status {
		padding-bottom: 3%;
	}
	.mobile-meta-data__created {
		font-size: 1.4rem;
		padding-bottom: 1%;

	}
	.mobile-meta-data__request {
		font-size: 1.3rem;
		color: $medGray;
	}
}
