/* DESKTOP */
textarea.ticket-request{
	font-size: 1.2rem;
	resize: none;
}

.request-wrap{
	clear: both;
	* {
		font-size: 1.2rem;
	}
	.input-group-addon{
		min-width: 72px;
		text-align: left;
	}
}

.ticket-categories{
	.category{
		float: left;
		margin-right: -1px;
		min-width: 120px;
		display: block;
		.input-group-addon{
			font-size: 1.2rem;
			width: auto;
			min-width: 72px;
			padding-top: 0;
			padding-bottom: 0;
			text-align: left;
		}
		.category-select {
			float: left;
			.ember-power-select-trigger{
				font-size: 1.2rem;
				min-height: 31px;
				min-width: 120px;
				height: 26px;
				line-height: 28px;
				border-radius: 0;
				width: 100%;
				position: relative;
				&:focus{
					z-index: 3;
				}
			}
			.ember-power-select-dropdown{
				top: 26px;
			}
			.ember-power-select-option,
			.ember-power-select-search input{
				font-size: 1.2rem;
			}
		}

	}
	.category:first-child{
		.input-group-addon{
			border-radius: $borderRadiusLeft;
		}
	}
	.category:last-child{
		.ember-power-select-trigger{
			border-radius: $borderRadiusRight;
		}
	}
}

/* MOBILE */
&.mobile-meta-data {
	padding: 4%;
	background: $white;
	@include borderStyle(0 0 1px);
	@extend %flex-item--none;
	.mobile-meta-data__priority-status {
		padding-bottom: 3%;
	}
	.mobile-meta-data__created {
		font-size: 1.4rem;
		padding-bottom: 1%;

	}
	.mobile-meta-data__request {
		font-size: 1.3rem;
		color: $medGray;
	}
}
