{{#each emails as |email index|}}
  {{input-single-email
    model=model
    email=email
    index=index
    placeholder=placeholder
  }}
{{/each}}
<button class="t-add-email-btn btn-add btn btn-default btn-sm" type="button" {{action 'append'}}>
  <span class="btn-label">{{fa-icon "plus"}} {{t "admin.email.add"}}</span>
</button>
