& {
  background: $white;
  display: flex;
  flex-direction: column;
  .ticket-activity{
    margin: -4%;
    padding: 4%;
  }
  .ticket-action {
    margin: 2% 0 2% 2%;
    float: right;
  }
}

/* NEED TO REMOVE ONCE MOBILE AND DESKTOP ACTIVITY LIST COMPONENTS ARE COMBINED */

.activity-list-wrap {
  margin: 4% -4% -4%;
  position: relative;
  .activity-list-tabs {
    margin: 0;
    padding: 0;
    border: $borderStyle;
    border-width: 0 0 1px 0;
    overflow: auto;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        float: left;
        padding: 0 32px;
        line-height: 38px;
        height: 38px;
        text-align: center;
        cursor: pointer;
        position: relative;
        &:hover{
          border-bottom: 3px solid $light;
        }
        &.active{
          color: $activeColor;
          border-bottom: 3px solid $activeColor;
          cursor: default;
          &:hover{
            border-bottom: 3px solid $activeColor;
          }
        }
        .badge{
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }
  .activity-list {
    overflow: hidden;
    padding: 4% 0;
    border: $borderStyle;
    border-width: 1px 0 0;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 8%;
      display: block;
      width: 1px;
      border: $borderStyle;
      border-width: 0 0 0 1px;
      content: "";
    }
  }
  .activity-spacer,
  .activity-list-item {
    margin: 0 0 0 8%;
    padding: 4% 4% 4% 8%;
    position: relative;
    font-size: 1.4rem;
    @include borderStyle(0 0 1px);

    .activity-icon {
      position: absolute;
      top: 10px;
      left: -4%;
      height: 31px;
      width: 31px;
      border-radius: 50%;
      border: $borderStyle;
      background-color: $light;
      text-align: center;
      line-height: 27px;
      color: $darkGray;
      background: $white;
      i {
        margin-left: -1px;
      }
    }
    .activity-timestamp {
      color: $medGray;
      display: block;
      font-size: 1.2rem;
    }
    a {
      &:link,
      &:visited{
        color: $dark;
        font-weight: bold;
        font-family: $fontfamilybold;
      }
    }
    // Styling for File uploads and Comments only
    &.activity-attachment_add,
    &.activity-comment {
      .activity-wrap {
        .activity-comment {
          padding: 15px 0 5px;
          display: block;
        }
        .activity-files {
          overflow: auto;
          .activity-file {
            float: left;
            max-width: 100%;
            text-align: center;
            font-size: 1rem;
            font-weight: normal;
            margin: 15px 15px 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
              font-weight: normal;
              &:hover {
                text-decoration: none;
              }

              span.activity-thumb {
                display: block;
                width: 100px;
                height: 100px;
                line-height: 92px;
                text-align: center;
                font-size: 40px;
                border: $borderStyle;
                background: $light;
                color: $medGray;
                margin: 0 0 5px;
                overflow: hidden;
                &.t-ext-jpg {
                  border-color: $white;
                  background: $white;
                }
                img {
                  vertical-align: middle;
                  max-width: 102px;
                  max-height: 102px;
                }
              }
            }
          }
        }
      }
    }
  }
  .activity-spacer {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .activity-empty {
    color: $gray;
    padding: 40px 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $fontfamilybold;
  }
}
