<div class="t-grid-loading-graphic">
  <div class="loading-row">
    <div class="loading-col">
      <ul class="loading">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
