<button class="t-dtd-list" {{action "toggleList"}}>LIST</button>
<button class="t-dtd-detail" {{action "toggleDetail"}}>DETAIL</button>
<button class="t-dtd-preview" {{action "togglePreview"}}>PREVIEW</button>
{{yield showing}}
