& {
	label{
		@extend %label;
		@include truncate;
	}
	.mobile-form-group {
		display: inline;
	}
  .optional {
    color: $medGray;
    &:before {
      content: "-";
      padding: 0 5px;
    }
  }
}
