{{#if showMessage}}
    {{#if (v-get model valuePath "message")}}
      {{#tether-dialog
        container-class="tether-dialog-reset"
        target=(concat "#" valuePath index)
        hasOverlay=false
        attachment="bottom left"
        targetAttachment="top left"
        offset="5px 0"
      }}
      <div class="validated-input-error-dialog animated flipInX .error">
       {{t (v-get model valuePath "message")}}
     </div>
      {{/tether-dialog}}
    {{/if}}
{{/if}}
