<label class="small-label t-model-category-label">{{label}}</label>
{{#power-select
  selected=categories_selected
  options=options
  class="category-select t-model-category-select"
  onchange=(action "selected")
  onopen=(action "handleOpen" category.id)
  searchEnabled=false
  allowClear=allowClear
  as |category|
}}
  {{category.name}}
{{/power-select}}
