.radio label, .checkbox label{
  padding-left: 0;
  color: $darkGray;
}
.radio-inline{
  padding: 0 0 0 10px;
  height: 16px;
  margin: 0 0 6px;
}

/* ============================================================
  checkbox
============================================================ */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  overflow: hidden;
  padding-left: 19px;
  cursor: pointer;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  background: $white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

/* checkbox aspect */
[type="checkbox"] + span:before,
[type="checkbox"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;

  transition: .2s;
}
/* Unchecked styles */
[type="checkbox"]:not(:checked) + span:before {
  top: 0px;
  width: 19px;
  height: 19px;
  border: 1px solid $fieldBorder;
  border-radius: 2px;
  box-shadow: $fieldBoxShadow;
}
[type="checkbox"]:not(:checked) + span:after {
  top: 0px;
  width: 19px; height: 19px;
  /* border: 3px solid $fieldBorder; */
  z-index: 0;
}
/* Checked styles - spins out to just show two borders in color green */
[type="checkbox"]:checked + span:before {
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 2px solid $white;
  border-bottom: 3px solid $white;
  transform: rotateZ(37deg);

  box-shadow: none;
}
/* border after checked */
[type="checkbox"]:checked + span:after {
  top: 0px;
  width: 19px;
  height: 19px;
  border: 1px solid $activeColor;
  background-color: $activeColor;
  border-radius: 3px;
  z-index: 0;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  top: 0;
  box-shadow: none;
  background-color: #444;
  width: 19px; height: 19px;
  border: 1px solid $fieldBorder;
}

[type="checkbox"]:disabled + span {
  color: #555;
}

[type="checkbox"]:disabled:not(:checked) + span:hover:before {
  border-color: $fieldBorder;
}

/* hover style just for information */
[type="checkbox"]:not(:checked) + span:hover:before {
  border-color: $fieldBorder;
}


/* ============================================================
  radio
============================================================ */
input[type="radio"] {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:not(:checked) + span,
input[type="radio"]:checked + span {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 19px;

	//prevent selecting checkbox if copying and pasting
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 1px 8px 1px 1px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $fieldBorder;

  box-shadow: $fieldBoxShadow;

  transition: .2s;
}

// input[type="radio"]:not(:checked) + span:hover:before {
//   border: 1px solid $fieldBorder;
// }

input[type="radio"]:checked + span:before {
  //background-color: $activeColor;
  border: 7px solid  $activeColor;

  box-shadow: none;
}

/* input[type="radio"] + span:before,
input[type="radio"]:checked + span:before {
  transition:background-color 0.4s linear;
} */

/* ============================================================
  SWITCH
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px !important;
  width: 50px !important;
  height: 28px;
  background-color: $fieldBorder;
  border-radius: 24px;

  float: none !important;
  text-align: left  !important;
  font-weight: normal  !important;
  line-height: normal !important;

}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: $white;

  box-shadow: $fieldBoxShadow;

  border-radius: 24px;
  transition: 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 26px;
  background-color: $white;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.2s;
  content: "" !important;
}
input.cmn-toggle-round:checked + label{
  background-color: $activeColor;
}
input.cmn-toggle-round:checked + label:before {
  background-color: $activeColor;
  box-shadow: none;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 22px;
}

/* ============================================================
  COMMON SWITCH CODE
============================================================ */
.switch{
	padding: 3px 0 0;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
