/*
* Flexbox w/ absolute postioning on flex container
* flex container :: vbox.mobile-wrap
*/
vbox.mobile-wrap { //wraps header/section/footer
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* DO NOT NEST since this class declaration is used in nav-bar and in outer wormhole */
header.mobile-header {
  height: $mobileHeaderHeight;
  position: relative;
  z-index: 2; // trump footer (z-index = 1)
  @include nav-box-shadow;
  @include headerColors;
}

/* DO NOT NEST since this class declaration is used in nav-bar and in outer wormhole */
section.mobile-main {
  @include smoothScrolling;
  display: flex;
  flex-direction: column;
  .mobile-inner{
    @include generalPadding;
    background: $white;
  }
}

footer.mobile-footer {
  height: $mobileFooterHeight;
  line-height: $mobileFooterHeight;
  background: $lightGray;
  border: $borderStyle;
  border-width: 1px 0 0;
  @include nav-box-shadow(10px, $medGray);
  z-index: 1;
  hbox.mobile-footer__wrapper {
    width: 100%;
    div.mobile-footer__item {
      text-align: center;
      flex: auto;
      a {
        color: $medGray;
        font-size: 1.7rem;
        cursor: pointer;
        text-decoration: none;
        display: block;
        &.active {
          color: $activeColor;
        }
        i {
          line-height: $mobileFooterHeight;
          font-size: 2.6rem;
        }
      }
    }
  }
}
