$headerChildHeight: 36px;
$headerChildMargin: ($mobileHeaderHeight - $headerChildHeight) / 2;

.filters { // fixed positioning filters for the grid that comes up from the bottom
  @include fullScreen;
}

hbox.filters__head, hbox.detail__head {
  align-items: center;
  height: $mobileHeaderHeight;
  button.filters__head__btn, .detail__head__btn {
    height: $headerChildHeight;
    margin: $headerChildMargin;
  }
  button.filters__head__btn--action, button.detail__head__btn--action {
    background: $activeColor;
  }
  h1.filters__head__title {
    flex-grow: 1;
    font-size: 2.2rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
  }
  .mobile-header__input--dark {
    @include mobileSearchInput($height: $headerChildHeight, $width: 1%, $margin: $headerChildMargin 0);
  }
}

.mobile-btn {
  border: none;
  background: $dark;
  padding: 0.5em 0.8em;
  border-radius: $borderRadius;
}
