/*
* Flexbox w/ absolute postioning on flex container
* flex container :: vbox.mobile-wrap
*/
vbox.mobile-wrap { //wraps header/section/footer
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* DO NOT NEST since this class declaration is used in nav-bar and in outer wormhole */
header.mobile-header {
  height: $mobileHeaderHeight;
  position: relative;
  z-index: 2; // trump footer (z-index = 1)
  @include nav-box-shadow;
  @include headerColors;
}

/* DO NOT NEST since this class declaration is used in nav-bar and in outer wormhole */
section.mobile-main {
  @include smoothScrolling;
  display: flex;
  flex-direction: column;
  .mobile-inner{
    @include generalPadding;
    background: $white;
  }
}

footer.mobile-footer {
  height: $mobileFooterHeight;
  line-height: $mobileFooterHeight;
  background: $lightGray;
  border: $borderStyle;
  border-width: 1px 0 0;
  @include nav-box-shadow(10px, $medGray);
  z-index: 1;
  hbox.mobile-footer__wrapper {
    width: 100%;
    flex-wrap: nowrap;
    div.mobile-footer__item {
      flex: none;
      a {
        display: block;
        color: $medGray;
        text-align: center;
        padding: 0 4%;
        @include truncate;
        color: $medGray;
        font-size: 1.7rem;
        cursor: pointer;
        text-decoration: none;
        &.active {
          color: $activeColor;
        }
        i {
          line-height: $mobileFooterHeight;
          font-size: 2.6rem;
        }
      }

      /*
      This is using CSS3 nth-last-child and sibling (~) selector to calcualte
      the width depending on the number of siblings.

      There should never be more that 5 items in the footer... if that changes,
      simply copy, paste and make changes to the nth child and percentages.
      */

      /* one item */
      &:first-child:nth-last-child(1) {
          width: 100%;
      }

      /* two items */
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ div.mobile-footer__item {
          width: 50%;
      }

      /* three items */
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ div.mobile-footer__item {
          width: 33.3333%;
      }

      /* four items */
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ div.mobile-footer__item {
          width: 25%;
      }

      /* five items */
      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ div.mobile-footer__item {
          width: 20%;
      }

    }
  }
}
