.bs-dialog {
  width: 400px;
  border-radius: $borderRadius;
}
body.centered-modal-showing {
  overflow: hidden;
}
.centered-scrolling-wrapper {
  position: fixed;
  z-index: 99;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  height: auto;
}

.centered-scrolling-overlay.translucent {
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
}

.centered-scrolling-container {
  position: relative;
  background-color: white;
  min-width: 30em;
  max-width: 65em;
  min-height: 20em;
  margin-top: 3em;
  margin-bottom: 3em;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);
}
