%photoAvatarSelectedOption {
  background: $light;
  vertical-align: middle;
  margin-left: -5px;
  margin-top: -3px;
  line-height: 20px;
  .avatar {
    border-radius: $borderRadiusLeft;
    width: 20px;
    height: 20px;
    &.empty:before{
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
  .username {
    padding-right: 6px;
  }
}

%photoAvatarOption {
  line-height: 28px;
  margin: 0 -7px;
  display: flex;
  .avatar {
    width: 20px;
    height: 20px;
    &.empty:before{
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
}

%tagSelectedOption {
    margin-top: -3px;
    margin-left: -8px;
}
// TAG COMPONENTS STYLES
.ember-power-select-selected-item {
  .photo-avatar {
    border-radius: $borderRadius;
    border: $borderStyle;
    margin-left: -8px;
    @extend %photoAvatarSelectedOption;
  }
  .tag {
    @extend %tagSelectedOption;
  }
}

.ember-power-select-option {
  line-height: 28px;
  .photo-avatar {
    @extend %photoAvatarOption;
  }
  .tag {
    @extend %tagSelectedOption;
  }
}

.readonly {
  .ember-power-select-trigger-multiple-input[disabled],
  .ember-power-select-trigger[aria-disabled=true] {
    background-color: transparent;
  }
  .ember-power-select-status-icon {
    opacity: 0;
  }
  [role=button]{
    cursor: default;
  }
}
