/* Ticket, Admin, Dashboard, */
aside.side-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $documentLeft;
  overflow: hidden;
  header {
    height: $documentHeaderHeight;
    line-height: $documentHeaderHeight;
    border: $borderStyle;
    border-width: 0 0 1px;
    padding: 0 10px;
    position: relative;
    background: $lightGray;
    h1 {
      vertical-align: middle;
      font-size: 1.3em;
      font-weight: normal;
      display: inline;
    }
  }
  menu {
    position: absolute;
    top: $documentHeaderHeight;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: $lightGray;
    border: $borderStyle;
    border-width: 0 1px 0 0;
    section{
      padding: 15px 0;
    }
  }//menu
}
