.timeline {
  height: 8rem;
  position: relative;
  margin: 1rem $gutter $gutter;
  justify-content: space-between;

  .btn { // TODO: maybe take out
    background: transparent;
    border: none;
    &:hover, &:focus {
      color: inherit;
    }
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5rem;
    border: 1px dashed $gray;
  }

  .timeline__item {
    margin: 0 $gutter;
    overflow: hidden;
    position: relative;
    .item__icon {
      display: block;
      text-align: center;
      position: relative;
      &:before {
        border-radius: 50%;
        border: $borderStyle;
        background: $light;
        display: inline-block;
        line-height: 3rem;
        text-align: center;
        color: $medGray;
        @include font-awesome("\f024", 3rem, 3rem);
      }
    }

    .item__text {
      margin: 1rem 0 0;
      background: $light;
      border-radius: $borderRadius;
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $light;
      }
      .btn{
        max-width: 100%;
        @include truncate();
      }
    }

    &:first-child {
      margin: 0 $gutter 0 0;
      &:before{
        content: " ";
        top: 1.5rem;
        width: 50%;
        height: 2px;
        background: $white;
        position: absolute;
      }
    }
    &:last-child {
      margin: 0 0 0 $gutter;
      .item__icon {
        // text-align: right;
        &:before {
          @include font-awesome("\f11e", 3rem, 3rem);
        }
      }
      &:before{
        content: " ";
        top: 1.5rem;
        right: 0;
        width: 50%;
        height: 2px;
        background: $white;
        position: absolute;
      }
    }

    &.timeline__item--active {
      .item__icon:before, .item__text {
        background-color: $dark;
        border-color: $dark;
        color: $white;
      }
      .item__text:before {
        border-bottom-color: $dark;
      }
    }
    &.timeline__item--completed {
      .item__icon:before {
        @include font-awesome("\f00c", 3rem, 3rem);
        background-color: $lightGreen;
        border-color: $lightGreen;
        color: $white;
      }
      .item__text {
        background-color: $lightGreen;
        border-color: $lightGreen;
        color: $white;
      }
      .item__text:before {
        border-bottom-color: $lightGreen;
      }
    }
    &.timeline__item--error {
      .item__icon:before, .item__text {
        background-color: $dirtyColor;
        border-color: $dirtyColor;
        color: $white;
      }
      .item__text:before {
        border-bottom-color: $dirtyColor;
      }
    }

  }
}
