// TODO: duplicated with ticket-single styles.  Need to refactor once design and flow figured out for new routes
& {
  textarea.ticket-request{
    font-size: 1.2rem;
    resize: none;
  }

  .request-wrap{
    margin: 0 0 15px;
    clear: both;
    * {
      font-size: 1.2rem;
    }
    .input-group-addon{
      min-width: 72px;
      text-align: left;
    }
  }
  .ticket-categories{
    .category{
      float: left;
      margin-right: -1px;
      min-width: 120px;
      display: block;
      .input-group-addon{
        font-size: 1.2rem;
        width: auto;
        min-width: 72px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
      }
      .category-select {
        float: left;
        .ember-power-select-trigger{
          font-size: 1.2rem;
          min-height: 31px;
          min-width: 120px;
          height: 26px;
          line-height: 28px;
          border-radius: 0;
          width: 100%;
          position: relative;
          &:focus{
            z-index: 3;
          }
        }
        .ember-power-select-dropdown{
          top: 26px;
        }
        .ember-power-select-option,
        .ember-power-select-search input{
          font-size: 1.2rem;
        }
      }

    }
    .category:first-child{
      .input-group-addon{
        border-radius: $borderRadiusLeft;
      }
    }
    .category:last-child{
      .ember-power-select-trigger{
        border-radius: $borderRadiusRight;
      }
    }
  }
}
