<section>
  <div class="row">
    <div class="col-md-12">
      {{parent-model-category-select 
        model=model 
        didValidate=didValidate
        valuePath="categories"
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{validated-input
        model=model
        valuePath="requester"
        didValidate=didValidate
        className="t-ticket-requester"
        placeholder=(t "ticket.label.requester")
        class="t-ticket-requester-validator"
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{validated-input
        model=model
        valuePath="request"
        didValidate=didValidate
        className="t-ticket-request"
        placeholder=(t "ticket.label.request")
        class="t-ticket-request-validator"
      }}
    </div>
  </div>
</section>
