<div class="input-group">
  <span class="input-group-addon address-label">{{t "admin.automation.status"}}</span>
    {{power-select-foreign-key
      model=model
      selected=model.status
      change_method="change_status"
      relatedModelName="ticket-status"
    }}
</div>
