<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	<span class="caret"></span>
	<span class="user t-current-user-fullname">{{instance.person.fullname}}</span>
	<span class="role t-current-user-role">{{instance.person.role.name}}</span>
</a>
<ul class="dropdown-menu">
  <li class="dropdown-menu-caret"></li>
	<li>{{#link-to "admin.people.person" instance.id title="Profile" class="t-person-profile-link" id="profile"}}Profile{{/link-to}}</li>
	<li><a href="#" title="Log Out" class="t-logout" id="logout" {{action 'logout'}}>Logout</a></li>
</ul>
