<article class="main">
  <header>
    &nbsp;
  </header>
  <section class="docSection container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="dashboard_text t-dashboard-text">{{format-markdown dashboardData.settings.dashboard_text}}</div>
        </section>
      </div>
    </div>
  </section>
</article>

{{#unless FlexiLayout.isMobile}}
<aside class="side-panel">
  <header>
    <h1></h1>
  </header>
  <menu class="t-side-menu">
  </menu>
</aside>
{{/unless}}
