//Add Color Palette
$blue: #2970ca;
$lightBlue: #6abff0;
$lightGreen: #8abf54;
$darkGreen: #8764c8;
$lightOrange: #fcd0b2;
$orange: #ec8213;
$darkOrange: #de453b;
$yellow: #f3b633;
$darkYellow: #c60091;
$white: #FFF;
$light: #F5F5F5;
$lightGray: #F9F9F9; // $lightGray is lighter than $light
$gray: #E5E5E5;
$medGray: #9e9ea6;
$darkGray: #303E4C;
$darker: #1d252e;
$dark: #293541;
$fadeRed: #FF7061;

$menuColor: $darkGray;

//applies to btns as well
$hoverColor: $dark;
$hoverColorLight: $light;
$activeColor: $lightBlue;

$borderColor: $gray;
$bgColor: $light;
$deleteColor: $orange;

//shadows
$shadowColor: $medGray;
