// Layout
$mobileDrawerWidth: 300px;
$menuHeight: 42px;
$mobileFooterHeight: 55px;
$tabTop: 57px;
$tabLeft: 56px;
$tabHeight: 30px;
$tabHeightMinus1: 29px;
$tabHeightMinus2: 28px;
$tabWidth: 180px;

$mainTop: 86px; //tabTop + tabHeight
$mainLeft: 56px; //same as tabLeft

$documentLeft: 250px;
$documentHeaderHeight: 41px;
$documentHeaderHeightPlus1: 42px;
$documentFooterHeight: 41px;
$mobileDocHeaderHeight: 68px;
