//Font variables
$fontfamily: "open_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontfamilybold: "open_sansbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseMobileMenuFontSize: 1.6rem;
