& {
	background: $light;
	text-align: center;
	color: $gray;
  position: relative;
  border-radius: $photoBorderRadius;
  overflow: hidden;
  &:before {
    font-size: 5rem;
    @include font-awesome("\f007");
  }
	&.building:before {
		@include font-awesome("\f1ad");
	}
	&.wrench:before {
		@include font-awesome("\f0ad");
	}
}
