<select class="t-location-level-children form-control location_level" id="location_level_children" multiple>
  {{#each model as |child|}}
  <option value={{child.id}}>{{t child.name}}</option>
  {{/each}}
</select>
