{{input 
  type=type 
  value=value 
  placeholder=placeholder 
  class=(concat "form-control " className)
  id=valuePath
}}

{{#if showMessage}}
  <div class="error t-existing-error">
    {{t (v-get model valuePath 'message') value=value}}
  </div>
{{/if}}
