& {
  background: $white;
  border: $borderStyle;
  border-width: 1px 0;
  margin-bottom: -1px;
  font-size: $baseMobileMenuFontSize;
  font-weight: bold;
  transition: all 0.5s ease;
  & > hbox{
    @include generalPadding();
    cursor: pointer;
  }
  &.mobile-filter-input{
    margin: 10px 0;
  }
  div.filter__icon {
    color: $medGray;
    padding: 0 0 0 2%;
    min-width:2em;
    text-align: center;
    button{
      padding: 0;
      margin: 0;
      border: none;
      background: none;
    }
  }
  div.filter__input-wrap{
    padding: 0;
    font-weight: normal;
    margin: 0 4% 4%;
    input {
      font-size: 1.6rem;
      padding: 2%;
      height: auto;
    }
  }
}
//Overrides max height defined in transitions.scss
.transition--vertical-enter.transition--vertical-enter-active,
.transition--vertical-leave {
  max-height: 300px;
}
.transition--vertical-leave.transition--vertical-leave-active {
  max-height: 0;
}
