/*
* MOBILE GRID items
*/
.mobile-grid-row{
  padding: 4%;
  background: $white;
  border: $borderStyle;
  border-width: 1px 0;
  margin: 0 0 2% 0;
  cursor: pointer;
  overflow: auto;
  &:first-child{
    margin-top: -1px;
  }
  .ticket-category{
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
  }
  .ticket-status,
  .ticket-priority{
    padding: 2px 0;
    float: left;
  }

  .ticket-request{
    width: 100%;
    padding: 2px 0;
  }
  .ticket-location,
  .ticket-assignee{
    clear: both;
  }
  .ticket-location{
    padding: 4px 0 0;
  }
  .ticket-assignee{
    padding: 0 0 4px;
  }
  .ticket-created,
  .ticket-number{
    padding: 2px 0;
    float: left;
    width: 50%;
    font-size: 1.2rem;
    color: $medGray;
  }
  .ticket-number{
    text-align: right;
  }
  .ticket-request{
    @include truncate;
  }
  .ticket-location:before{
    margin-right: 2%;
    color: $medGray;
    display: inline-block;
    @include font-awesome("\f041");
  }
  // .ticket-assignee:before{
  //   margin-right: 2%;
  //   color: $medGray;
  //   display: inline-block;
  //   @include font-awesome("\f007");
  // }
  .person-fullname {
    font-size: 1.6rem;
    padding: 4px 0 0;
    font-weight: bold;
  }
  .person-username {
    clear: both;
    // TODO: mixin params for generalPadding
    padding: 4% 0 0;
  }
  .person-role {
    padding: 0 0 4%;
  }
}
.mobile-grid-row::after{
  content: "";
  width: 100%;
  display: block;
}
.no-results {
  td {
    background: $white;
    text-align: center;
    padding: 100px 0 0;
    color: $medGray;
    font-size: 1.3rem !important;
    i {
      color: $gray;
      margin-bottom: 30px;
      font-size: 100px;
      display: block;
    }
    &:hover{
      cursor: default !important;
    }
  }
}
