{{#if showMessage}}
  {{#if (v-get model valuePath "message")}}
    {{#tether-dialog
      constraints=(array (hash to="scrollParent" pin=true attachment="together"))
      container-class="tether-dialog-reset"
      target=(or targetId (concat "#" (if (gt count -1) (concat valuePath count) valuePath)))
      hasOverlay=false
      attachment="bottom left"
      targetAttachment="top left"
    }}
      <div class="validated-input-error-dialog animated flipInX error {{concat "t-validation-" valuePath}}">
        {{t (v-get model valuePath "message")}}
      </div>
    {{/tether-dialog}}
  {{/if}}
{{/if}}
