<div class="row">
  <div class="col-md-12">
    {{#form-group title="admin.automation.description" for="description"}}
    {{validated-input
      model=model
      valuePath="description"
      className="t-automation-description"
      placeholder=(t "admin.automation.description")
    }}
    {{/form-group}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="appliedFilters" data-test-id="applied-filters">{{t 'admin.automation.filtersApplied' count=model.pf.length}}</div>
  </div>
</div>
