<aside class="tray">
  <nav class="trayMain">
    <ul class="list-unstyled t-tray-items">
      <li>{{#link-to "dashboard"}}
        <span>{{fa-icon "home"}}</span>
        {{/link-to}}
      </li>
      <li>{{#link-to "calendar"}}
        <span>{{fa-icon "calendar"}}</span>
        {{/link-to}}
      </li>
      <li>{{#link-to "reports"}}
        <span>{{fa-icon "pie-chart"}}</span>
        {{/link-to}}
      </li>
      {{#if (has-permission permissions=permissions resource="admin")}}
      <li>{{#link-to "admin" class="t-nav-admin"}}
        <span>{{fa-icon "cog"}}</span>
        {{/link-to}}
      </li>
      {{/if}}
    </ul>
  </nav>
</aside>
