<div class="row">
  <div class="col-md-12">
    {{#form-group title="work_order.label.approved_amount" for="approved_amount" dataTestId="approved_amount"}}
    {{input-currency
      model=model
      valuePath="approved_amount"
      currencyField="cost_estimate_currency"
      placeholder=(t "crud.default_value" value=(unbound model.approved_amount))
      className="t-wo-approved_amount"
    }}
    {{/form-group}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#form-group title="work_order.label.scheduled_date" for="scheduled_date" dataTestId="scheduled_date"}}
      {{input-calendar
        onSelection=(action (mut model.scheduled_date))
        format="MM/DD/YYYY"
        inputClass="t-scheduled-date"
        value=model.scheduled_date
        dataTestId="scheduled-date"
        minDate=today
      }}
    {{/form-group}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{#form-group title="work_order.label.instructions" for="instructions" dataTestId="instructions" optional="true"}}
      {{validated-input
        model=model
        placeholder=(t "work_order.label.instructions")
        valuePath="instructions"
        textarea=true
        className="t-wo-instructions"
      }}
    {{/form-group}}
  </div>
</div>
