/*
* Desktop
*/
.person-current-desktop {
  position: relative;
  height: $menuHeight;
  text-align: left;
  margin: 0 10px;
  a.dropdown-toggle {
    height: $menuHeight;
    padding: 0 25px 0 15px;
    margin: 0 0 0 15px;
    .user {
      display: block;
      line-height: 26px;
    }
    .role {
      display: block;
      font-size: 1rem;
      line-height: 10px;
      margin-top: -2px;
    }
    .caret {
      line-height: $menuHeight;
      position: absolute;
      right: 5px;
      top: 20px;
    }
  }
  ul.dropdown-menu {
    border: none;
    border-radius: $borderRadius;
    padding: 0;
    margin: .8rem 0 0;
    background: $menuColor;
    right: 0;
    left: auto;
    li.dropdown-menu-caret {
      position: absolute;
      right: 20px;
      top: -4px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $menuColor;
    }
    li {
      float: none;
      text-align: left;
      a {
        display: block;
        line-height: 40px;
        color: $light;
        font-size: 1.2rem;
        padding: 0 1.5rem;
        &:hover {
          color: $light;
        }
        &.active {
          background: $activeColor;
          color: $light;
        }
      }
      &:nth-child(2) {
        a {
          border-radius: $borderRadiusTop;
        }
      }
      &:last-child {
        a {
          border-radius: $borderRadiusBottom;
        }
      }
    }
  }
}//current-user
&.dropdown.open {
  a.dropdown-toggle {
    background: $hoverColor;
    color: $light;
  }
}

/*
* Mobile
*/
.person-current-mobile {
  height: 90px;
  background: $darkGray;
  color: $medGray;
  border-top: 3px solid $dark;
  .person-meta {
    align-self: center;
    padding: $mobileNavItemPadding;
    cursor: pointer;
  }
  .person-meta__user {
    font-size: 1.6rem;
  }
  .person-meta__role {
    font-size: 1.2rem;
  }
  .logout {
    cursor: pointer;
    width: 95px;
    font-size: 3.3rem;
    text-align: center;
    line-height: 90px;
    border-left: 1px solid $dark;
  }
}
