//Add Color Palette
$blue: #2970ca;
$lightBlue: #6abff0;
$lightGreen: #8abf54;
$darkGreen: #8764c8;
$orange: #ec8213;
$darkOrange: #de453b;
$yellow: #f3b633;
$darkYellow: #c60091;
$white: #FFF;
$light: #F5F5F5;
$lightGray: #FCFCFC;
$gray: #E5E5E5;
$medGray: #9e9ea6;
$darkGray: #303E4C;
$dark: #293541;
$fadeRed: #FF7061;

$menuColor: $darkGray;

//applies to btns as well
$hoverColor: $blue;
$activeColor: $lightBlue;

$borderColor: $gray;
$bgColor: $light;

//shadows
$shadowColor: $medGray;
//Font variables
$fontfamily: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Layout
$menuHeight: 42px;
$tabTop: 57px;
$tabLeft: 56px;
$tabHeight: 30px;
$tabHeightMinus1: 29px;
$tabHeightMinus2: 28px;
$tabWidth: 180px;

$mainTop: 86px; //tabTop + tabHeight
$mainLeft: 56px; //same as tabLeft

$documentLeft: 250px;
$documentHeaderHeight: 41px;
$documentHeaderHeightPlus1: 42px;
$documentFooterHeight: 41px;

// Borders
$borderStyle: 1px solid $borderColor;
$borderRadius: 2px;
$borderRadiusTopLeft: 2px 0 0 0;
$borderRadiusTop: 2px 2px 0 0;
$borderRadiusTopRight: 0 2px 0 0;
$borderRadiusRight: 0 2px 2px 0;
$borderRadiusBottomRight: 0 0 2px 0;
$borderRadiusBottom: 0 0 2px 2px;
$borderRadiusBottomLeft: 0 0 0 2px;
$borderRadiusLeft: 2px 0 0 2px;

//checkbox border when highlighted - a bit darker
$fieldBorder: #CCC;
$fieldBoxShadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

//tables
$hoverRow: $gray;
$activeRow: $gray;
$tableHeadRow: $lightGray;
