//file attachment
.progress-wrap{
	.progress{
		margin-bottom: 10px;
		border-radius: $borderRadius;
		background-color: $light;
		.remove-attachment{
			margin-left: 5px;
			&:hover{
				cursor: pointer;
				color: $orange;
			}
		}
		.progress-bar{
			background-color: $lightBlue;
			text-align: right;
			padding: 0 10px;
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
			transition: all 1s ease;
		}
		&.complete{
			background: none;
			box-shadow: none;
			.progress-bar{
				background: $light;
				border: $borderStyle;
				color: $darkGray;
				line-height: 18px;
				height: 20px;
				box-shadow: none;
				width: auto !important;
				float: right;
			}
		}
	}
}
//file upload

