.validation{
	display: block;
	background-color: $orange;
	padding: 2px 12px;
	border: 1px solid $orange;
	color: $white;
	&.category-validation-error{
		float: left;
	    margin: 0px;
	    height: 26px;
	    line-height: 26px;
	    font-size: 1.1rem;
	    padding: 0 10px;
	}
}
.validation-under{
	border-width: 0 1px 1px;
	border-radius: $borderRadiusBottom;
	margin-top: -2px;
}

