nav.tabs{
  font-size: 1.1rem;
  position: absolute;
  top: $tabTop;
  right: 0;
  left: $tabLeft;
  height: $tabHeight;
  overflow: hidden;
  z-index: 1;
  // ul{
  //   margin-left: 0px;
  //   margin-right: -100px;
  //   overflow: hidden;
  div.tab {
    width: $tabWidth;
    height: $tabHeight;
    line-height: $tabHeight;
    background: $light;
    border: $borderStyle;
    padding: 0;
    font-size: 1.2rem;
    margin: 0 3px 0 0;
    border-radius: $borderRadiusTop;
    position: relative;
    transition: width .25s ease-in-out;
  }
    // li{
    //   height: $tabHeight;
    //   line-height: $tabHeight;
    //   background: $light;
    //   border: $borderStyle;
    //   padding: 0;
    //   float: left;
    //   font-size: 1.2rem;
    //   width: $tabWidth;
    //   margin: 0 3px 0 0;
    //   border-radius: $borderRadiusTop;
    //   position: relative;
    //
    //   transition: width .25s ease-in-out;
    //
      a{
        height: $tabHeightMinus2;
        line-height: $tabHeightMinus2;
        background: $light;
        padding: 0 18px 0 10px;
        display: block;
        color: $darkGray;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover,
        &:focus{
          text-decoration: none;
          cursor: pointer;
        }
        &.active{
          height: $tabHeightMinus1;
          background: $lightGray;
          border-bottom-color: $lightGray;
        }
        &.active{
          &:hover{
            cursor: default;
          }
        }
      }

      .close-wrap{
        .close-icon{
          height: 12px;
          width: 12px;
          position: absolute;
          top: 3px;
          right: 3px;
          color: $medGray;
          padding: 0;
          &:hover{
            color: $dark;
            cursor: pointer;
            text-decoration: none;
          }
          i{
            display: block;
            &.dirty{
              color: $lightGreen;
              &:hover{
                color: $darkGreen;
              }
            }
          }

        }
      }
    // }//li

    .new {
      flex-basis: content;
      max-width: 36px;
      text-align: center;
      color: $darkGray;
      align-self: center;
      &:hover{
        cursor: pointer;
        background: $activeColor;
        border-color: $activeColor;
        color: $white;
      }
      &:active{
        background: $activeColor;
        border-color: $activeColor;
        color: $white;
      }
    }//li.new
  // }//ul
}//nav.tabs
