<nav class="tabs">
  <ul id="tabs" class="list-inline">
    {{#each tabs as |tab|}}
      <li>
        <span class="t-tab-title">{{tab.title}}</span>
        <span>{{fa-icon "times-circle" classNames="close-icon"}}</span>
      </li>
    {{/each}}
    <li class="new">
      <span>{{fa-icon "plus"}}</span>
    </li>
  </ul>
</nav>
