//file upload
.progress{
	border-radius: $borderRadius;
	background-color: $light;
	.progress-bar{
		background-color: $lightBlue;
		text-align: right;
		padding: 0 10px;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
}
