.delete{
	&:hover{
		background-color: $orange;
		border-color: $orange;
		color: $white;
	}
}
.add-btn,
.add-btn:hover,
.add-btn:focus {
	background-color: $activeColor;
	border-color: $activeColor;
	color: $white;
	&:active{
		background-color: $darkGreen;
		border-color: $darkGreen;
		color: $light;
	}
}
