.dtd-row {
    position: absolute;
    .dtd-col{
        margin: 40px 0 0;
        float: left;
        height: 100%;
        overflow: auto;
        position: relative;
        width: 100%;
        article.main{
            left: 0;
        }
    }
    &.col-count-3 {
        .dtd-col {
            width: 33.33%
        }
    }
    &.col-count-2 {
        .dtd-col {
            width: 50%
        }
    }
}
