.form-group{
	margin: 5px 0 0;
	label{
		font-weight: normal;
		font-size: 0.9em;
		color: $darkGray;
	}
	.inherited-msg{
		font-size: 0.9em;
		color: $medGray;
		margin: 0 0 5px 0;
		float: right;
		font-style: italic;
	}
}


/*=================
button group on form
===================*/
select option[default]{
	color: $gray;
}
div.buttonGroup {
	margin-top: 5rem;
	button {
		margin: 0 1rem;
	}
}//buttonGroup
.validation{
	display: block;
	background-color: $orange;
	padding: 2px 12px;
	border: 1px solid $orange;
	color: $white;
	&.category-validation-error{
		float: left;
	    margin: 0px;
	    height: 26px;
	    line-height: 26px;
	    font-size: 1.1rem;
	    padding: 0 10px;
	}
}
.validation-under{
	border-width: 0 1px 1px;
	border-radius: $borderRadiusBottom;
	margin-top: -2px;
}
.input-multi{
	.input-group{
		margin-bottom: 10px;
	}
	.phonenumber-type,
	.email-type{
		min-width: 6em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-left: -1px;
		margin-right: -1px;
	}
}
.input-multi-address{
	.address-label{
		min-width: 10em;
		text-align: left;
		font-size: 0.9em;
	}
}
.input-multi-dtd-link{
	.input-group-addon{
		min-width: 10em;
		text-align: left;
		font-size: 0.9em;
		@include truncate;
	}
}
.input-group-vertical{
	margin: 0 0 10px;
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.input-group{
		margin-bottom: -1px;
		.checkbox{
			border: $borderStyle;
			margin: 0;
			height: 34px;
			line-height: 34px;
			vertical-align: middle;
			padding: 5px 12px;
		}
		&:first-child button{
			border-radius: 3px 0 0 0;
		}
		&:first-child select{
			border-radius: 0 3px 0 0;
		}
		&:first-child input{
			border-radius: 0 3px 0 0;
		}
		&:last-child button{
			border-radius: 0 0 3px 3px;
		}
		&:last-child .input-group-addon{
			border-radius: 0 0 0 3px;
		}
		&:last-child .form-control{
			border-radius: 0 0 3px 0;
		}
	}
	.input-group-addon,
	.form-control,
	.btn{
		border-radius: 0;
	}
}
.ticket-actions{
	.ticket-action{
		margin: 0 0 5px 5px;
		float: right;

		.btn{
			min-height: 30px;
			line-height: 16px;
			font-size: 1.2rem;
			display: block;

		}
		.ember-power-select-trigger{
			font-size: 1.2rem;
			height: 30px;
			min-height: auto;
			max-height: none;
			line-height: 30px;
		}
		&.status,
		&.priority{
			.ember-power-select-trigger{
				min-width: 140px;
			}
		}
	}
}
.request-wrap{
	margin: 15px 0 15px;
}
textarea.ticket-request{
	font-size: 1.2rem;
	resize: none;
}
.meta-data{
	line-height: 30px;
	margin: 0 0 8px;
}
.create-date{
	font-size: 1.2rem;
	color: $darkGray;
	white-space: nowrap;
}
.tag{
	display: inline-block;
	height: 20px;
	line-height: 17px;
	font-size: 1.1rem;
	background: $medGray;
	border: 1px solid $medGray;
	color: $white;
	padding: 0 7px;
	border-radius: 3px;
	text-transform: uppercase;
	margin: 0 8px 0 0;
	position: relative;
	white-space: nowrap;
	i{
		margin-right: 3px;
	}
	&.admin-location-status-open,
	&.ticket-status-new{
		background: $lightGreen;
		border-color: $lightGreen;
	}
	&.admin-location-status-future,
	&.admin-person-status-active,
	&.ticket-status-in_progress{
		background: $lightBlue;
		border-color: $lightBlue;
	}
	&.ticket-priority-emergency{
		background: $darkOrange;
		border-color: $darkOrange;
	}
	&.admin-person-status-expired,
	&.ticket-priority-high{
		background: $orange;
		border-color: $orange;
	}
	&.ticket-priority-medium{
		color: $darkGray;
		background: $darkYellow;
		border-color: $darkYellow;
	}
	&.ticket-priority-low{
		color: $darkGray;
		background: $yellow;
		border-color: $yellow;
	}
}
.form-photo{
	border: $borderStyle;
	margin: 0 0 20px 0;
	line-height: 200px;
	height: 200px;
	background: $light;
	font-size:100px;
	text-align:center;
	color: $gray;
}
label.small-label{
	display: block;
	height: 26px;
	line-height: 23px;
	font-size: 1rem !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0 -1px -1px 0;
	float: left;
	background: $lightGray;
	border: $borderStyle;
	color: $medGray !important;
	padding: 0 12px;
}
.ember-power-select.ember-basic-dropdown--opened input[type="search"]{
	padding: 0 7px;
}
.request-wrap{
	label.small-label{
		float: none;
	}
}
.model-category-wrap{
	float: left;
    margin-right: -1px;
	min-width: 120px;

	.category-select {
		float: left;
	    .ember-power-select-trigger{
	        font-size: 1.2rem;
	        min-height: 26px;
			min-width: 120px;
	        height: 26px;
	        line-height: 24px;
	        border-radius: 0;
			width: 100%;
			position: relative;
			&:focus{
				z-index: 3;
			}
	    }
		.ember-power-select-dropdown{
			top: 26px;
		}
	    .ember-power-select-option,
		.ember-power-select-search input{
	        font-size: 1.2rem;
	    }
	}
}
//file attachment
.progress-wrap{
	.progress{
		margin-bottom: 10px;
		border-radius: $borderRadius;
		background-color: $light;
		.remove-attachment{
			margin-left: 5px;
			&:hover{
				cursor: pointer;
				color: $orange;
			}
		}
		.progress-bar{
			background-color: $lightBlue;
			text-align: right;
			padding: 0 10px;
			text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
			transition: all 1s ease;
		}
		&.complete{
			background: none;
			box-shadow: none;
			.progress-bar{
				background: $light;
				border: $borderStyle;
				color: $darkGray;
				line-height: 18px;
				height: 20px;
				box-shadow: none;
				width: auto !important;
				float: right;
			}
		}
	}
}
//file upload
