/*=================
general form styles
===================*/

section.docSection{
	padding: 6% 4%;

}

/*=================
button group on form
===================*/
select option[default]{
	color: $gray;
}
div.buttonGroup {
	margin-top: 5rem;
	button {
		margin: 0 1rem;
	}
}//buttonGroup
@media screen and (max-width: $mobileDeviceWidth){
  div.login_form {
	  margin: 30px auto;
	  padding: 0;
	  width: auto;
	}
}
.input-multi{
	.input-group{
		margin-bottom: 10px;
	}
	.phonenumber-type{
		min-width: 6em;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-left: -1px;
		margin-right: -1px;
		font-weight: bold;
	}
}
.input-multi-address{
	.address-label{
		min-width: 10em;
		text-align: left;
		font-weight: bold;
		font-size: 0.9em;
	}
}
.input-group-vertical{
	margin: 0 0 10px;
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.input-group{
		margin-bottom: -1px;
		&:first-child button{
			border-radius: 3px 0 0 0;
		}
		&:first-child select{
			border-radius: 0 3px 0 0;
			font-weight: bold;
		}
		&:last-child button{
			border-radius: 0 0 3px 3px;
		}
		&:last-child .input-group-addon{
			border-radius: 0 0 0 3px;
		}
		&:last-child .form-control{
			border-radius: 0 0 3px 0;
		}
	}
	.input-group-addon,
	.form-control,
	.btn{
		border-radius: 0;
	}
}
