header.main{
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: $blue;
    color: $light;
    line-height: $menuHeight;
    height: $menuHeight;
    -webkit-box-shadow: 0 0 7px $darkGray;
    -moz-box-shadow: 0 0 7px $darkGray;
    box-shadow: 0 0 7px $darkGray;
    z-index: 3;
}//header.main
