div.rowTable {
    section.docSection{
        h1{
            .reset-grid{
                font-size: 1.1rem;
                font-weight: normal;
                text-decoration: underline;
                cursor: pointer;
                color: $darkGray;
                margin-left: 10px;
            }
        }
        .filtersets{
            clear: both;
            ul{
                overflow: auto;
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    float: left;
                    margin: 0 5px 5px 0;
                    font-size: 1.1rem;
                    a{
                        border: $borderStyle;
                        border-radius: $borderRadius;
                        background: $light;
                        padding: 3px 5px;
                        display: block;
                        color: $darkGray;
                        text-decoration: none;
                        &:hover{
                            cursor: pointer;
                            text-decoration: none;
                            border-color: $hoverColor;
                            background-color: $hoverColor;
                            color: $white;
                        }
                        &.active{
                            border-color: $activeColor;
                            background-color: $activeColor;
                            color: $white;
                        }
                        i{
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
        }
        table.table-hover {
            tr:hover td{
                cursor: pointer;
            }
        }//table
        table{
            th{
                span{
                    display: inline-block;
                    height: 18px;
                    line-height: 18px;
                    vertical-align: bottom;
                    &.title{
                        float: left;
                        max-width: 80%;
                        margin-right: 5%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .fa-sort,
                .fa-filter{
                    color: $gray;
                }
                .fa-filter.on,
                .fa-sort-asc,
                .fa-sort-desc{
                    color: $lightGreen;
                }
                .fa-sort,
                .fa-filter,
                .fa-sort-asc,
                .fa-sort-desc{
                    cursor: pointer;
                }
            }
            //table column widths
            td, th{
                font-size: 1.2rem;
                &.ticket-priority{
                    width: 120px;
                }
                &.ticket-status{
                    width: 120px;
                }
                &.ticket-number{
                    width: 80px;
                }
                &.ticket-created{
                    width: 130px;
                    white-space: nowrap;
                }
                &.ticket-location{
                    width: 180px;
                }
                &.ticket-assignee{
                    width: 180px;
                }
                &.ticket-location{
                    width: 180px;
                }
                &.ticket-category{
                    width: 300px;
                }
                &.selector{
                    width: 28px;
                    .dirty{
                        font-size: 1.2rem;
                        color: $lightGreen;
                    }
                }
            }
        }
    }
    footer{
        nav{
            ul.pagination{
                margin: 4px 0 0;
                li{
                    a.active{
                        background: $activeColor;
                        border-color: $activeColor;
                        color: $white;
                    }
                }
            }
        }
        .page-size{
            margin: 4px 0 0;
        }
    }
}//section#userTable
.tableSearch {
    position: absolute;
    right: 20px;
    border-radius: 15px;
}//.peopleSearch
