div.rowTable {
  section.docSection{
    padding: 2%;

    table.table-hover {
      tr:hover td{
        cursor: pointer;
      }
    }//table
  }

  footer nav{
    ul.pagination{
      margin: 8px 0 0;
      li{
        a.active{
          background: $activeColor;
          border-color: $activeColor;
          color: $white;
        }
      }
    }
  }
}//section#userTable

.tableSearch {
  position: absolute;
  right: 20px;
  border-radius: 15px;
}//.peopleSearch
