footer{
  nav{
    ul.pagination{
      margin: 4px 0 0;
      li{
        a.active{
          background: $activeColor;
          border-color: $activeColor;
          color: $white;
        }
      }
    }
  }
  .t-page-count{
    @include truncate;
    width: 100%;
  }
  .page-size{
    margin: 4px 0 0;
  }
}
