<div class="bs-desktop">
  <header class="main">
    {{nav-bar}}
  </header>
  {{tab-list 
    tabs=tabs 
    linkToNew=linkToNew 
    linkToNew=linkToNew
    closeTabMaster=(action "closeTabMaster")
  }}
  {{tray-main}}
  <section class="wrap">
    {{outlet}}
  </section>
</div>
