<a>
	<span class="user t-current-user-fullname">{{person.first_name}} {{person.last_name}}</span>
	<span class="role t-current-user-role">{{person.role_name}}</span>
	<span class="caret"></span>
</a>
<ul class="submenu">
	<li class="userOpt">
    <a href="#" title="Log Out" class="t-logout" id="logout" {{action 'logout'}}>Logout</a>
	</li>
	<li class="userOpt">
		{{#link-to "admin.people.person" person.id title="Profile" class="t-person-profile-link" id="profile"}}Profile{{/link-to}}
	</li>
</ul>
