{{#each filterModels as |filterModel|}}
	<div class="checkbox" onclick={{action "updateCheckbox" filterModel.id}}>
    {{checkbox-component 
      labelText=(t filterModel.name)
      checked=(is-filter-checked option=filterModel.id field=field gridIdInParams=gridIdInParams)
    }}
	</div>
{{/each}}
