& {
  height: inherit;
  ul.nav-items {
    width: auto;
    padding: 0;
    margin: 0;
    float: left;
    li {
      position: relative;
      list-style: none;
      float: left;
      a {
        display: inline-block;
        color: $light;
        text-decoration: none;
        padding: 0 2rem;
        &:hover {
          background: $hoverColor;
          color: $light;
        }
        &.active {
          background: $activeColor;
          color: $light;
        }
      }
    }//li
    li.nav-brand {
      a{
        padding: 0 5px;
        span{
          height: $menuHeight;
          display: block;
          cursor: pointer;
          background: center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAaCAYAAABLlle3AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAt+wAALfsB/IdK5wAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAJWSURBVEiJ7dbPi1ZVGAfwzzsMiVouXCiMgUkLfxeJomaGMGiM6KJFK2fbspVQBK3dBNO/oRCpOEqoSBapWTBi/m4x+WuRJv2Q1DDmaXGe61yu7/vOOzDkwh54OFzO936/53yfc89zWxHhv47+HD/BiziN8xifQY0leB0b8Qf2VKKbsa0G/Bnf4xS+w0X82YPAPKzEBryJdVhcmz/M5E4fIjCKV7ECr+C9nP8LYziTCxnDbSzCmhRYjzcwt7GQi4pzO/CoLtrK8X38gpexOnOtYs1bmTCBu1jYELiZu/kBF5RS3cZAjn110Up4foreyvw9MUtyIVX0peA1XE5XXst3z+GbdKWK+fWV1UWbMYjjteff8KNS48ri69iKj5VDsjYTtuBkO+JuohM5fovduIT7bXDHMl9SDtGIUo6O32JfF9Eqriq7aydYj/uKpT9NRdiL6KweMNPC9yI64/G/6PMpOt3eNyW+F9GJqSHTw3e7kaq5d5XFHcJXuNMGu1C59nZmduXuJnodX2MThjMfKPfuKM4q7Wyncu3Nzvf+Ue7cGx2ZI0JEHIwSy/O5nrMjYntEHIjOMRER+yNiKPFNjlWJ+yIintpp8xAsUBr0IJY25i7hhPIrshnLMIQX0o27nXj7GxOPk3y70unfbmBOKk36S6XNwUc5VsIfmLR4FEeS9yl7D6RF4w3bfo2IvRGxKyIG2thWz4GIGI6IfRFxr8FT8X4eEU9Ej9YAlyNiJCIGO9Snl5yT738WEVdq3EciQisiWvgQf+No1mqmYwXeyVJ92opn8LP9LyX8m2K/OwnkAAAAAElFTkSuQmCC');
          padding: 0 23px;
        }
      }
    }
  }//ul
  ul.nav-items-right {
    @extend ul.nav-items;
    float: right;
    width: auto;
    li {
      a {
        padding: 0 1.5rem;
        .badge {
          position: absolute;
          right: -7px;
          top: 3px;
          z-index: 1;
        }
      }
    }
  }
}//navbar
