<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav t-navbar-items">
        <li class="navbar-brand">BigSky</li>
        <li>{{#link-to "tickets.index" class="t-nav-tickets"}}{{t 'modules.tickets.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "work-orders"}}{{t 'modules.workOrders.titleShort'}}{{/link-to}}</li>
        <li>{{#link-to "invoices"}}{{t 'modules.invoices.titleShort'}}{{/link-to}}</li>
      </ul>
      {{user-menu}}
    </div>
  </div>
</nav>
