<footer class="mobile-grid-footer">
  <nav class="text-center">
    <ul class="pagination t-pages">
      <li class="t-previous {{if previous '' 'disabled'}}" title="Last" disabled={{if previous disabled ''}}>{{#link-to list_url (query-params page=previous) disabled=notPrevious}}&lsaquo;{{/link-to}}</li>
      <li class="t-next {{if next '' 'disabled'}}" title="Next" disabled={{if next disabled ''}}>{{#link-to list_url (query-params page=next) disabled=notNext}}&rsaquo;{{/link-to}}</li>
    </ul>
  </nav>
</footer>
