<span class="btn btn-default btn-file">Attach File<input type="file" onchange={{action "upload"}}></span>
{{#each model.attachments as |attachment|}}
  {{#if attachment.local}}
    <div class="progress active" role="progressbar" aria-valuemin="100" aria-valuemax="100" aria-valuenow="0">
      <div class="progress-bar-success progress-bar" style={{attachment.progress}}>Upload Progress: {{attachment.percent}}%</div>
    </div>
  {{/if}}
{{/each}}
