header.main{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $mobileMenuHeight;
    line-height: $mobileMenuHeight;
    background: $blue;
    color: $white;
    z-index: 3;
    .menu-toggle{
        color: $white;
        float: left;
        height: $mobileMenuHeight;
        line-height: $mobileMenuHeight;
        font-size: 2rem;
        margin: 0 10px;
    }
    .moduleWrap{
        position: fixed;
        top: $mobileMenuHeight;
        right: $mobileMenuHeight;
        bottom: $mobileMenuHeight;
        left: 0;
        background: $dark;
        padding: 0;
        margin: 0;
        padding: 10px 0;
        li{
            display: block;
            padding: 0;
            margin: 0;
            a{
                display: block;
                color: $gray;
                border-bottom: 1px solid $darkGray;
                font-size: 1.7rem;
                padding: 0 10px;
                height: $mobileMenuHeight;
                line-height: $mobileMenuHeight;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
section.main{
    position: absolute;
    top: $mobileMenuHeight;
    right: 0;
    bottom: $mobileMenuHeight;
    left: 0;
    overflow: auto;
    background: $white;
}
footer.main{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $mobileMenuHeight;
    line-height: $mobileMenuHeight;
    background: $light;
    border: $borderStyle;
    border-width: 1px 0 0;
    z-index: 3;
    .tray{
        ul{
            margin: 0;
            padding: 0;
            li{
                float: left;
                width: 20%;
                a{
                    color: $darkGray;
                    font-size: 2rem;
                    line-height: $mobileMenuHeight;
                    height: $mobileMenuHeight;
                    display: block;
                    text-align: center;
                    &:hover{
                        background: $lightGray;
                    }
                }
            }
        }
    }
    .menu-toggle{
        float: left;
        width: 20%;
        color: $darkGray;
        font-size: 2rem;
        line-height: $mobileMenuHeight;
        height: $mobileMenuHeight;
        display: block;
        text-align: center;
        &:hover{
            background: $lightGray;
        }
    }
    .userWrap{
        position: fixed;
        bottom: $mobileMenuHeight;
        background: $dark;
        padding: 0;
        margin: 0;
        right: 0;
        left: 0;
        li{
            display: block;
            width: 80px;
            text-align: center;
            font-size: 1.7rem;
            &.current-user{
                font-size: 1.4rem;
                width: auto;
                position: absolute;
                right: 0;
                top: 0;
                left: 80px;
                border-left: 1px solid $darkGray;
                bottom: 0;
                padding: 20px;
            }
            a{
                color: $gray;
                &:hover{
                    text-decoration: none;
                }
            }
            .badge{
                position: absolute;
            }
        }
    }
}
