hbox.nav-items-mobile {
  height: inherit;
  justify-content: center;
  align-items: center;
  .nav-brand-mobile {
    flex: auto;
    height: $mobileHeaderHeight;
    color: $light;
    background: center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAaCAYAAABLlle3AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAt+wAALfsB/IdK5wAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAJWSURBVEiJ7dbPi1ZVGAfwzzsMiVouXCiMgUkLfxeJomaGMGiM6KJFK2fbspVQBK3dBNO/oRCpOEqoSBapWTBi/m4x+WuRJv2Q1DDmaXGe61yu7/vOOzDkwh54OFzO936/53yfc89zWxHhv47+HD/BiziN8xifQY0leB0b8Qf2VKKbsa0G/Bnf4xS+w0X82YPAPKzEBryJdVhcmz/M5E4fIjCKV7ECr+C9nP8LYziTCxnDbSzCmhRYjzcwt7GQi4pzO/CoLtrK8X38gpexOnOtYs1bmTCBu1jYELiZu/kBF5RS3cZAjn110Up4foreyvw9MUtyIVX0peA1XE5XXst3z+GbdKWK+fWV1UWbMYjjteff8KNS48ri69iKj5VDsjYTtuBkO+JuohM5fovduIT7bXDHMl9SDtGIUo6O32JfF9Eqriq7aydYj/uKpT9NRdiL6KweMNPC9yI64/G/6PMpOt3eNyW+F9GJqSHTw3e7kaq5d5XFHcJXuNMGu1C59nZmduXuJnodX2MThjMfKPfuKM4q7Wyncu3Nzvf+Ue7cGx2ZI0JEHIwSy/O5nrMjYntEHIjOMRER+yNiKPFNjlWJ+yIintpp8xAsUBr0IJY25i7hhPIrshnLMIQX0o27nXj7GxOPk3y70unfbmBOKk36S6XNwUc5VsIfmLR4FEeS9yl7D6RF4w3bfo2IvRGxKyIG2thWz4GIGI6IfRFxr8FT8X4eEU9Ej9YAlyNiJCIGO9Snl5yT738WEVdq3EciQisiWvgQf+No1mqmYwXeyVJ92opn8LP9LyX8m2K/OwnkAAAAAElFTkSuQmCC');
  }
}
