-r requirements_ci.txt

# ipython / django-extentions
appnope>=0.1.0
backports-abc>=0.4
backports.ssl-match-hostname>=3.4.0.2
certifi>=2015.4.28
decorator>=4.0.9
gnureadline>=6.3.3
ipykernel>=4.2.2
ipython>=4.1.1
ipython-genutils>=0.1.0
Jinja2>=2.8
jupyter-client>=4.1.1
jupyter-core>=4.0.6
MarkupSafe>=0.23
mistune>=0.7.1
nbconvert>=4.1.0
nbformat>=4.0.1
notebook>=4.1.0
path.py>=8.1.2
pexpect>=4.0.1
pickleshare>=0.6
ptyprocess>=0.5.1
Pygments>=2.1.1
pyzmq>=15.2.0
simplegeneric>=0.8.1
terminado>=0.6
tornado>=4.3
traitlets>=4.1.0

# pylint
astroid>=1.4.8
isort>=4.2.5
lazy-object-proxy>=1.2.2
mccabe>=0.5.2
pylint>=1.6.4
wrapt>=1.10.8