<div class="row">
  <div class="col-md-12">
    {{#form-group title="tenant.implementation_contact_initial" for="implementation_contact_initial"}}
      {{validated-input
        model=model
        valuePath="implementation_contact_initial"
        className="form-control t-tenant-implementation_contact_initial"
        placeholder=(t "tenant.implementation_contact_initial")
      }}
    {{/form-group}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{#form-group title="admin.tenant.implementation_email" for="implementation_email"}}
      {{input-single-email
        model=model
        email=model.implementation_email
        noDelete=true
        valuePath="implementation_email"
      }}
    {{/form-group}}
  </div>
</div>
{{#unless model.new}}
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.tenant.implementation_contact" for="implementation_contact"}}
        {{db-fetch-select
          model=model
          selectedAttr=model.implementation_contact
          className="t-tenant-implementation_contact-select"
          displayName="fullname"
          change_func="change_implementation_contact"
          remove_func="remove_implementation_contact"
          repository=personRepo
          searchMethod="findPeople"
          valuePath="implementation_contact"
          allowClear=true
        }}
      {{/form-group}}
    </div>
  </div>
{{/unless}}
