/*
* Variables and Mixins
*/
$hamburgerTop: 10px;

/*
* Absolute positioning
* DESKTOP AND MOBILE START
*/
section.wrap {
  position: absolute;
  top: $mainTop;
  right: 0;
  bottom: 0;
  left: $mainLeft;
  border: $borderStyle;
  border-width: 1px 0 0 1px;
  background: $white;
  font-size: 1.3rem;
  z-index: 0;
  .liquid-container{
    height: 100%;
    .liquid-child{
      height: 100%;
    }
  }
}//section.wrap
header.main {
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include headerColors;
  line-height: $menuHeight;
  height: $menuHeight;
  @include nav-box-shadow;
  z-index: 1; //dropdown in header needs to drumpf section.wrap z-index = 0
}
/*
* DESKTOP AND MOBILE END
*/


/*
* NAV MOBILE START
* slideout tray
*/
input.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3; //hamburger must drumpf header.mobile-header z-index = 0
  font-size: 26px;
  line-height: $mobileHeaderHeight;
  height: $mobileHeaderHeight;
  width: $mobileHeaderHeight;
  text-align: center;
  color: $light;
  cursor: pointer;
  display: block;
  margin: 0;
  &:after{
    font-weight: normal;
    content: "\f0c9";
    font-family: FontAwesome;
  }
}

.nav-trigger:checked + label {
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  left: $mobileDrawerWidth;
  padding-left: 15px;
}
.nav-trigger:checked ~ .mobile-wrap {
  left: $mobileDrawerWidth;
}
.nav-trigger:checked ~ vbox.mobile-tray {
  left: 0;
}

.nav-trigger + label,
.mobile-wrap ,
vbox.mobile-tray {
  transition: left 0.2s;
}

vbox.mobile-tray { //slideout navigation tray
  background: $dark;
  width: $mobileDrawerWidth;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$mobileDrawerWidth;
  // overflow: hidden;
  div.mobile-tray__inner {
    -webkit-overflow-scrolling: touch; //DO NOT REMOVE
    overflow: auto;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li.nav-section {
    background: $darkGray;
    padding: $mobileNavItemPadding;
    border-bottom: 1px solid $dark;
    li.nav-item {
      padding: 0;
      a {
        font-size: 18px;
        padding: 2px 0;
        display: block;
        color: $medGray;
        text-decoration: none;
      }
    }
  }
}
/*
* NAV MOBILE END
*/
