div.bs-mobile {
  div.wrapper-main {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    header.main {
      position: absolute;
    }
    section.wrap-mobile {
      position: absolute;
      width: 100%;
      bottom: $mobileFooterHeight;
      top: $menuHeight;
      left: 0;
      border: none;
    }
  }
  input.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  label[for="nav-trigger"] {
    position: fixed;
    left: 15px;
    z-index: 4;
    font-size: 26px;
    line-height: $menuHeight;
    color: $light;
  }

  .nav-trigger:checked + label {
    top: 0;
    right: 0;
    bottom: 0;
    left: $mobileDrawerWidth;
    padding-left: 15px;
  }
  .nav-trigger:checked ~ div.wrapper-main {
    left: $mobileDrawerWidth;
  }
  .nav-trigger:checked ~ nav.navigation {
    left: 0;
  }

  .nav-trigger + label,
  div.wrapper-main,
  nav.navigation {
    transition: left 0.2s;
  }

  nav.navigation {
    background: $dark;
    width: $mobileDrawerWidth;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -$mobileDrawerWidth;
    overflow: hidden;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li.nav-section {
      background: $darkGray;
      padding: 20px;
      border-bottom: 1px solid $dark;
      li.nav-item {
        padding: 0;
        a {
          font-size: 18px;
          padding: 2px 0;
          display: block;
          color: $medGray;
          text-decoration: none;
        }
      }
    }
    li.nav-search {
      padding: 8px;
      background: $dark;
      input {
        height: 26px;
        border: none;
        background: $darker;
        width: 100%;
      }
    }
  }
}
