/*
* Variables and Mixins
*/
$hamburgerTop: 10px;

/*
* Absolute positioning
* DESKTOP AND MOBILE START
*/
section.wrap {
  position: absolute;
  top: $mainTop;
  right: 0;
  bottom: 0;
  left: $mainLeft;
  border: $borderStyle;
  border-width: 1px 0 0 1px;
  background: $white;
  font-size: 1.3rem;
  z-index: 0;
}//section.wrap
header.main {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  @include headerColors;
  line-height: $menuHeight;
  height: $menuHeight;
  @include nav-box-shadow;
  z-index: 2; //dropdown in header needs to drumpf nav.tabs z-index = 1
}
/*
* DESKTOP AND MOBILE END
*/


/*
* NAV MOBILE START
* slideout tray
*/

span.mobile-tray-trigger {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 26px;
  line-height: $mobileHeaderHeight;
  width: $mobileHeaderHeight;
  text-align: center;
  color: $light;
  cursor: pointer;
  display: block;
  margin: 0;
  &:after{
    font-weight: normal;
    content: "\f0c9";
    font-family: FontAwesome;
  }
}

.mobile-tray-open {
  .mobile-wrap {
    transform: translateX($mobileDrawerWidth);
    // this is expensive to keep around, so one possiblility is to remove it
    will-change: transform;
  }
  vbox.mobile-tray {
    @include nav-box-shadow();
    transform: none;
    will-change: transform;
  }
  span.mobile-tray-trigger {
    position: fixed;
  }
}

.mobile-wrap,
vbox.mobile-tray {
  transition: all 150ms ease-in-out;
}

vbox.mobile-tray { //slideout navigation tray
  background: $dark;
  width: $mobileDrawerWidth;
  position: relative;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 1; //
  div.mobile-tray__inner {
    -webkit-overflow-scrolling: touch; //DO NOT REMOVE
    overflow: auto;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li.nav-section {
    background: $darkGray;
    padding: $mobileNavItemPadding;
    border-bottom: 1px solid $dark;
    li.nav-item {
      padding: 0;
      a {
        font-size: 18px;
        padding: 2px 0;
        display: block;
        color: $medGray;
        text-decoration: none;
      }
    }
  }
}
/*
* NAV MOBILE END
*/
