{{#card-section dataTestId="roles/detail-section"}}
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.role.label.name" for="name"}}
        {{validated-input
          model=model
          valuePath="name"
          className="t-role-name-single"
          placeholder=(t "admin.role.label.name")
          class="t-role-name-validator"
        }}
      {{/form-group}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.role.label.role_type" for="role_type"}}
        {{roles/role-type-select
          role=model
          labelText=(t "admin.role.label.role_type")
        }}
      {{/form-group}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.role.label.location_level" for="role_location_level_select"}}
        {{power-select-foreign-key
          model=model
          selected=model.location_level
          change_method="change_location_level"
          relatedModelName="location-level"
          notTranslated=true
          labelText=(t "admin.location.label.location_level")
          valuePath="location_level"
        }}
      {{/form-group}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#form-group title="admin.role.label.category" for="category"}}
      {{roles/role-category-select role=model options=categories_children}}
      {{/form-group}}
    </div>
  </div>
{{/card-section}}
