%aAdmin {
  color: $darkGray;
  text-decoration: none;
  display: block;
  @include generalPadding();
  &:hover {
    cursor: pointer;
    color: $hoverColor;
    background-color: $hoverColorLight;
    .fa {
      color: $white;
      &:hover {
        color: $orange;
      }
    }
  }
  &.active {
    color: $activeColor;
    .fa {
      color: $white;
      &:hover {
        color: $orange;
      }
    }
  }
  &.active:hover {
    cursor: default;
    background: none;
    .fa {
      color: $white;
      &:hover {
        cursor: pointer;
        color: $orange;
      }
    }
  }
  .fa {
    line-height: 1.7em;
    margin-right: 7px;
    &:hover{
      color: $orange;
    }
  }
}

& {
  font-size: 1.2rem;
  h3 {
    margin: 0;
    color: $medGray;
    font-size: 0.9em;
    padding: 4%;
    i.menuIcon {
      width: 1.6em;
      text-align: left;
    }
  }//h3
  section {
    background: $white;
    @include borderStyle(1px 0);
    a {
      @extend %aAdmin;
      padding: 4%;
    }//a
  }//section
}

&.desktop-admin-menu {
  section {
    padding: 2% 0;
  }
}

&.mobile-admin-menu {
  font-size: $baseMobileMenuFontSize;
  margin-bottom: 30px;
  h3 {
    padding: 8% 4% 4%;
  }
  section {
    @include borderStyle(1px 0 0);
    a {
      @include borderStyle(0 0 1px);
      &:hover {
        background: none;
      }
    }//a
  }//section
}
