{{pikaday-input
  onSelection=onSelection
  class=(concat "form-control " inputClass)
  format=format
  value=value
  placeholder=placeholder
  disabled=disabled
  minDate=minDate 
  readonly=readonly
}}
<span class="input-group-addon">{{fa-icon "calendar"}}</span>

