{{pikaday-input
  onSelection=onSelection
  class="form-control"
  format=format
  value=value
  placeholder=placeholder
  disabled=disabled
}}
<span class="input-group-addon">{{fa-icon "calendar"}}</span>

